{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}


<div id="container" class="arc-partners">

  <div class="breadcrumb">
    <ul class="breadcrumb-list">
      <li><a href="/">産業用IoTのことならamnimo</a></li>
      <li>パートナー紹介</li>
    </ul>
  </div>
  <!-- .breadcrumb -->

  <section class="hero03 core">
    <div class="containers">
      <div class="hero03__box">
        <h1 class="ttl-primary-lower cW">パートナー紹介</h1>
      </div>
    </div>
  </section>

  <div class="cate-nav">
    <ul>
      <li class="current"><a href="/partners/">パートナー紹介</a></li>
      <li><a href="/interview/">パートナーの声</a></li>
    </ul>
  </div>

  <div class="partner-block">
    <div class="wrap">
        <div class="block-title"><span>ソリューションパートナー（50音順）</span>
        </div>
        <p class="lead-txt sp-b60">アムニモのIoTデバイスやクラウドサービスを活用したソリューションの販売、<br>システムインテグレーション、保守、アプリ開発等を行う会社です。
        </p>
        <div class="partner-list">
            <a class="post" href="/partners/010/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/itec.png" alt="アイテック阪急阪神株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">アイテック阪急阪神株式会社</div>
                        <p> IT最前線に挑む専門家、それがアイテック阪急阪神です。<br>
                            都市機能の根幹をなすシステムやネットワーク、ITを基盤とした多様なソリューションなど、新しい価値を生み出し未来を創造します。</p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="/partners/008/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/analogtech.png" alt="アナログ・テック株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">アナログ・テック株式会社</div>
                        <p>『AI』『IoT』『Machine
                            Vision』を軸に、お客様の課題を解決に導くソリューションを部品レベルから選定してインテグレーション、お客様に最適な産業コンピュータやシステムを提案いたします。
                        </p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="/partners/005/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/hcnet.png" alt="エイチ・シー・ネットワークス株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">エイチ・シー・ネットワークス株式会社</div>
                        <p>「高信頼で社会を支える」をビジョンとするネットワークインテグレーターです。<br>
                            ネットワーク、セキュリティ、UC、トータルマネジメントサービスのフィールドで、ご提案から構築・保守までワンストップでご提供します。</p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="/partners/015/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/sanwa.png" alt="株式会社サンワ電装" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">株式会社サンワ電装</div>
                        <p>IoTの最新知見と30年にわたるプラント工事で培った施工力で、有線・無線を問わずお客様の課題に適したソリューションをお届けします。<br>スマートエスイー正規履修者およびMCPC認定IoTエキスパート在籍。</p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="/partners/006/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/jscom.png" alt="ジェイズ・コミュニケーション株式会社​" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">ジェイズ・コミュニケーション株式会社​</div>
                        <p>安全、快適なソリューションをすべてのお客さまに。<br>
                            ジェイズ・コミュニケーションは、安全で快適なソリューションを提供し共創によるお客様ビジネスの成功を支える​プロフェッショナル集団です。</p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="/partners/003/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/jepico.png" alt="株式会社ジェピコ" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">株式会社ジェピコ</div>
                        <p>国内外の電子部品・システム機器を取扱う商社機能と、ファブレス半導体メーカー機能を融合したエンジニアリングカンパニーです。<br>
                            航空宇宙・防衛など高信頼性が求められる市場を中心に事業を展開しています。</p>
                    </dd>
                </dl>
            </a>
            
            <a class="post" href="/partners/002/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/systemk.png" alt="株式会社システム・ケイ" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">株式会社システム・ケイ</div>
                        <p>当社はIPカメラの黎明期から監視システムとしてソフトウェアを開発・提供しています。<br>
                            IPカメラには自信があります！ぜひ一度ご相談ください。</p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="/partners/004/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/tecto.png" alt="テクト株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">テクト株式会社</div>
                        <p> テクトは、音・映像・通信のネットワークソリューションカンパニーです。<br>
                            企業内のシステムから、アミューズメントパークなどの大型施設、さらには広域地域のネットワークシステム、監視システムの構築まで、幅広いニーズに対応しています。</p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="/partners/013/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/densan.png" alt="東京電機産業株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">東京電機産業株式会社</div>
                        <p>私たちは「計測と制御と情報」をカテゴリーにお客様の現場に密着し、IT技術と豊富な経験を活かして最適なソリューションを提供する横河電機ビジネスパートナーです。
                        </p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="/partners/009/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/tht.png" alt="東京保安通信株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">東京保安通信株式会社</div>
                        <p>通信の知識と技術で、未来の可能性を実現する会社。東京保安通信（THT）は、音声通信、IPネットワーク、IoTなど様々な通信に関するコンサルティング、設計、構築、運用、保守をご提供させていただいております。
                        </p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="/partners/011/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/tsp.png" alt="株式会社TSP" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">株式会社TSP</div>
                        <p> カメラの新たな価値の創造への挑戦。弊社は情報通信の施工部門をもつ「現場に強い」会社として、監視カメラなどの提案から設計・設置工事・保守まで、ご提供しています。<br>
                            また、分析カメラ・IoTを活用したシステムのご提案も致します。工事のみのご相談もお気軽にご相談下さいませ。(全国対応可)</p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="/partners/001/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/tsc-security.png" alt="株式会社トーノーセキュリティ" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">株式会社トーノーセキュリティ</div>
                        <p> 1986年創業より、セキュリティサービスを提供して参りました。セキュリティサービスの構築と共に、付帯する様々な関連事業を展開しております。セントラル警備保障グループの一員として全国にサービス展開を致しております。
                        </p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="/partners/014/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/nishikawa.png" alt="西川計測株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">西川計測株式会社</div>
                        <p>西川計測は計測・制御・分析のエンジニアリング商社です。<br>
                            あらゆる産業分野のお客様のニーズに沿った課題解決策を提供するため、システムを設計・構築、ソフトウェアの開発、施工、メンテナンスまで、最先端のエンジニアリングを提供しています。
                        </p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="/partners/017/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/hubullet.png" alt="株式会社HUBULLET" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">株式会社HUBULLET</div>
                        <p> 株式会社HUBULLET（ハブレット）は監視カメラを中心とするセキュリティ機器の販売・構築・施工を得意としている会社です。<br>導入を御検討される際はぜひ、お気軽にお声掛け下さいますよう、よろしくお願い致します。</p>
                    </dd>
                </dl>
            </a> 
            <a class="post" href="/partners/007/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/videotechnica.png" alt="ビデオテクニカ株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">ビデオテクニカ株式会社</div>
                        <p> 創業51年となる老舗のフィジカルセキュリティシステムインテグレーターです。大規模・高難度なシステムをスマートに安価に提供致します。NxウィットネスIPVMSソフトの日本での販売代理店です。
                        </p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="/partners/018/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/miwadenkikougyou.png" alt="美和電気工業株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">美和電気工業株式会社</div>
                        <p> 1947年(昭和22年)以来、北海道・東北を中心に、計測・制御、情報・通信、電気機器・分析機器の分野において「システムインテグレータ」として社会に貢献しています。100社以上に及ぶメーカーとの代理店契約を結び、販売からエンジニアリング、メンテナンスまでを一貫して手掛けています。</p>
                    </dd>
                </dl>
            </a>

            <a class="post" href="/partners/012/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/ycl.png" alt="横河商事株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">横河商事株式会社</div>
                        <p>当社は、計測・制御・情報システムの世界的トップメーカーである横河電機株式会社の総合代理店として、首都圏・中京圏・近畿圏を中心に全国にネットワークを展開する専門技術商社です。
                        </p>
                    </dd>
                </dl>
            </a>
           
            <a class="post" href="/partners/016/">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/solution_partners/works.png" alt="株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">株式会社ワークス</div>
                        <p>ワークスでは、キッティングを中心としたIT機器の導入支援を行っています。大量の機器導入や一斉入替、導入に伴うネットワーク環境の整備などを機器の保管や配送、破壊、廃棄を含めワンストップで実施いたします。
                        </p>
                    </dd>
                </dl>
            </a>
        </div><!-- /.partner-list -->
    </div>
  </div>

  <div class="partner-block">
    <div class="wrap">
        <div class="block-title"><span>キャリアパートナー（50音順）</span>
        </div>
        <p class="lead-txt sp-b60">アムニモのIoTデバイスと接続実績のある通信サービス提供会社です。
        </p>
        <div class="partner-list">
            <a class="post" href="https://iot-consulting.co.jp/" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/iotconsulting.png" alt="株式会社IoTコンサルティング" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">株式会社IoTコンサルティング</div>
                        <p>弊社ではIoT向けモバイル通信SIMサービス「ロケットモバイル」を運営しております。<br>
                            代表的なプラン「神プラン」は月額328円税込定額、低速使い放題、従量課金なしという業界最安級価格でご提供しております。</p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="https://www.iij.ad.jp/biz/iijmobile/" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/iij.png" alt="株式会社インターネットイニシアティブ" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">株式会社インターネットイニシアティブ</div>
                        <p>IIJは創業以来、社会の需要を先取りし、革新的な技術を標準化し、多くのネットワークサービスを世の中にお送り出してきました。モバイルサービスも全体で300万回線を超える実績があり、またIoT利用に最適なプランをご用意しております。
                        </p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="https://his-mobile.com/summary/profile" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/hismobile.png" alt="HIS Mobile株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">HIS Mobile株式会社</div>
                        <p>HISグループは、旅行事業の他、HISモバイルの通信事業含め様々な事業を展開してきました。<br>
                            事業領域は多種多様でも、目指すべき姿は「人」、「価値」、「安心」を送ること。<br>
                            グループのシナジーを活かして生活のあらゆる面でお客様や社会全体に喜ばれるサービスや価値を提供して参ります。<br>
                        </p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="https://www.ntt.com/index.html" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/nttcom.png" alt="NTTコミュニケーションズ株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">NTTコミュニケーションズ株式会社</div>
                        <p>IoT時代に適した”モバイルコネクティビティ”を全てのお客様に。<br>
                            NTTコミュニケーションズ株式会社はお客様のご要望に合わせた<br>
                            様々なモバイルサービスをご用意しております。<br>
                            大容量通信や超小容量通信、閉域網を使った通信など…　何でもお気軽にお問合せください。</p>
                    </dd>
                </dl>
            </a> 
            <a class="post" href="https://www.nttpc.co.jp/" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/nttpc.png" alt="株式会社エヌ・ティ・ティピー・シーコミュニケーションズ" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">株式会社エヌ・ティ・ティピー・シーコミュニケーションズ</div>
                        <p>IoT/M2M通信ならNTTPCの法人向けモバイルサービスにお任せ。NTTPCの法人向けモバイルサービスでは、閉域網通信はもちろん、大容量通信や上り専用のプランなどコスパの良いメニューを揃えた「スタンダードタイプ」、1枚のSIMで複数の通信キャリア接続が可能な「マルチキャリアタイプ」など、お客さま事業用途に合わせて選択いただける多彩なスメニューをご用意しております。</p>
                    </dd>
                </dl>
            </a> 
            <a class="post" href="https://mineo.jp/business/" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/mineo.png" alt="株式会社オプテージ" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">株式会社オプテージ</div>
                        <p>法人向けmineoは、トリプルキャリア対応のモバイル通信サービスです。<br>
                            M2M/IoT利用に最適なお手頃価格のメニューや、余ったデータ容量をシェアできる機能などをご用意しており、通信コストの最適化を実現します。</p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="https://www.sakura.ad.jp/" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/sakurainternet.png" alt="さくらインターネット株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">さくらインターネット株式会社</div>
                        <p>さくらインターネットは、「さくらのセキュアモバイルコネクト」を始めとしたクラウドコンピューティングサービスを提供しています。「『やりたいこと』を『できる』に変える」の理念のもと、あらゆる分野に対応するDXソリューションを提案してまいります。<br>
                            「さくらのセキュアモバイルコネクト」は、リーズナブルかつ複数キャリアへ接続できる高セキュアなモバイル閉域網を提供するIoT向けSIMサービスです。モバイル回線の導入が難しかったIoTデバイスにもご利用いただけます。</p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="https://soracom.com/ja-jp/" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/soracom.jpg" alt="Connected with SORACOM" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">株式会社ソラコム</div>
                        <p>IoTの「つなぐ」を簡単に。SORACOMは、IoTを実現するために必要となるデバイスや通信、アプリケーションなどをワンストップで提供し、世界140の国・地域において20,000を超えるお客様にご利用いただいています。</p>

                    </dd>
                </dl>
            </a>
            <a class="post" href="https://www.route7.jp/" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/sorasim.png" alt="SORAシム株式会社(Route7)" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">SORAシム株式会社(Route7)</div>
                        <p>Route7はIOT/M2M向けモバイル通信サービスをご提供しております。<br>
                            【Route7の特徴】<br>
                            ①お客様のソリューションに合わせた速度、容量でプランニングが可能<br>
                            ②セッション履歴やトラフィック情報を可視化できるツールの無料提供<br>
                            ③ソリューションにあったセキュリティ対策ができる多様なオプション<br>
                            その他、モバイル通信や、通信のセキュリティに関する不安やご要望がありましたらお気軽にお問い合わせください。
                    </p></dd>
                </dl>
            </a>
            <a class="post" href="https://www.libmo.jp/business/" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/libmo.png" alt="株式会社TOKAIコミュニケーションズ" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">株式会社TOKAIコミュニケーションズ</div>
                        <p>  TOKAIコミュニケーションズが提供する格安SIMサービス"LIBMO"では、一般的なプランに加えシェアプランや閉域網サービスなど法人向けサービスも取り揃えてございますので、モバイル回線を用いたネットワーク基盤をご検討の際には是非お声がけください。
                        </p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="https://nifmo.nifty.com/biz/" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/nifty.png" alt="ニフティ株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">ニフティ株式会社</div>
                        <p>ニフティ株式会社が提供する法人向けMVNOサービス「NifMo
                            法人サービス」では、データシェアプランやIoT、M2M向けプラン、管理者ツールなど、お客様のビジネス活動を支援するメニューを取り揃えております。</p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="https://biz.biglobe.ne.jp/sim/index.html" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/biglobe.png" alt="ビッグローブ株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">ビッグローブ株式会社</div>
                        <p>  法人向けBIGLOBEモバイルは、ドコモエリアとauエリアで使える格安SIMを提供しています。カメラの映像データ通信に最適な上り高速プランや、死活監視向けの小容量プランなど幅広く取り揃えております。</p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="https://cloud.freebit.com/sim/" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/freebit.png" alt="フリービット株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">フリービット株式会社</div>
                        <p>「フリービットクラウドセキュリティSIM」は法人向けに特化したハイエンドモバイル通信サービスです。セキュリティ機能に加え、IPsecVPN・閉域網・AWS連携を可能にする多彩なコネクティビティを提供します。</p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="https://www.macnica.co.jp/go/post-3.html" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/macnica.png" alt="株式会社マクニカ" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">株式会社マクニカ</div>
                        <p>マクニカが提供するグローバル対応のIoT向けeSIMサービスです。エッジのIoT機器の開発だけでなく上位のソリューションを担うお客様へもワンストップで高付加価値なサービスの提供を目指します。</p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="https://www.marubeni-network.com/solution/mvno/" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/marubeni.png" alt="丸紅ネットワークソリューションズ株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">丸紅ネットワークソリューションズ株式会社</div>
                        <p>自社でSIMが発行できる法人様向けフルMVNO事業者として、リーズナブルで快適な無線回線サービスをご提供しています。<br>IoTに即した柔軟なサービスプランや、eSIM(チップSIM)のご提供。また1枚のSIMでマルチキャリア対応・世界198か国でデータ通信利用可能な国際ローミングSIMなど、IoTニーズに合わせた多種多様なサービスをご提供しております。是非お気軽にご相談ください。
                            </p>
                    </dd>
                </dl>
            </a>
            <a class="post" href="https://www.meeq.co.jp/meeq/" target="_blank">
                <dl>
                    <dt>
                        <picture class="ph-box">
                            <img src="/assets/img/sources/partners/carrier_partners/meeq.png" alt="ミーク株式会社" width="300" height="200">
                        </picture>
                    </dt>
                    <dd>
                        <div class="head">ミーク株式会社</div>
                        <p>IoTサービス事業者及びDXを推進する企業向けに、NoCode IoT/DX Platform『MEEQ(ミーク)』を展開し、低価格(月額143円(税込)から)かつ高品質なモバイル通信回線やコーディング不要で利用可能なデータプラットフォーム等を提供しています。</p>
                    </dd>
                </dl>
            </a>
        </div><!-- /.partner-list -->
    </div>

    


  <div class="contact-block" id="contact-block">
    <h3 class="ttl-secondary"><span>お問い合わせ</span></h3>
    <ul>
      <li class="btn green"><a href="https://support.amnimo.com/hc/ja/requests/new" class="form" target="_blank">お問い合わせ<span class="ib">フォーム</span></a></li>
      <li class="btn green"><a href="/contact/#doc" class="doc">資料ダウンロード<span class="f80">（無料）</span></a></li>
      <li class="btn green"><a href="https://amo.amnimo.com/form/estimate" target="_blank" class="quotation">お見積もり依頼</a></li>
    </ul>
  </div>

  <section class="relation">
    <div class="containers">
      <h2 class="ttl-secondary">関連サービス</h2>
      <div class="flex gap20">
        <a href="#" class="item">
          <figure class="item__img"><img src="/assets/img/common/img-relation01.jpg" alt=""></figure>
          <h3 class="item__ttl">エッジゲートウェイ（屋内版）</h3>
          <div class="item__txt">厳しい環境下でも安定稼働。様々な産業で利用可能なLTE通信機能搭載</div>
        </a>
        <a href="#" class="item">
          <figure class="item__img"><img src="/assets/img/common/img-relation02.jpg" alt=""></figure>
          <h3 class="item__ttl">IoT Router（屋内版）</h3>
          <div class="item__txt">IoT機器からのインターネット通信を可能にするルーター。汎用性が高く、設置場所を選ばない小型軽量タイプ</div>
        </a>
        <a href="#" class="item">
          <figure class="item__img"><img src="/assets/img/common/img-relation03.jpg" alt=""></figure>
          <h3 class="item__ttl">デバイス管理システム</h3>
          <div class="item__txt">エッジゲートウェイ及びIoTルーターとクラウドアプリケーションを連携させるシステム</div>
        </a>
      </div>
    </div>
  </section>


</div>
<!--container-->


{% endblock %}