{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "IoTソリューション" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}


<div id="container" class="video-solution--iot">

  <div class="breadcrumb">
    <ul class="breadcrumb-list">
      <li><a href="/">産業用IoTのことならamnimo</a></li>
      <li>IoTソリューション</li> 
    </ul>
  </div>
  <!-- .breadcrumb -->

  <section class="hero02 video-solution--iot__hero">
    <div class="containers">
      <div class="hero02__box">
        <div class="hero02__box--sub">高品質でリーズナブルなLTEルーターとクラウドサービスで<br class="pc-only">産業用機器のスムーズなIoT化を実現</div>
        <h2 class="ttl-primary">堅牢性と<br class="sp-only">運用性に優れた<br>IoTソリューション</h2>
        <a href="https://support.amnimo.com/hc/ja/requests/new" target="_blank" class="more">ご相談・お問い合わせ</a>
      </div>
    </div>
  </section>

  <section class="video-solution--iot__overview">
    <div class="containers">
      <h2 class="ttl-secondary">現場が求める<br class="sp-only">IoTソリューション</h2>
      <div class="lead">堅牢性と運用性を重視する<br class="sp-only">様々な『現場のIoT化』をご支援</div>
        <ul class="flex gap20 card">
          <li class="card__wrap">
            <h3 class="card__wrap--ttl">再エネ関連設備</h3>
            <summary class="card__box">
              <figure class="card__box--img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot01.png" alt=""></figure>
            </summary>
          </li>
          <li class="card__wrap">
            <h3 class="card__wrap--ttl">工場内設備</h3>
            <summary class="card__box">
              <figure class="card__box--img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot02.png" alt=""></figure>
            </summary>
          </li>
          <li class="card__wrap">
            <h3 class="card__wrap--ttl">各種決済端末</h3>
            <summary class="card__box">
              <figure class="card__box--img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot03.png" alt=""></figure>
            </summary>
          </li>
          <li class="card__wrap">
            <h3 class="card__wrap--ttl">組込機器</h3>
            <summary class="card__box">
              <figure class="card__box--img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot04.png" alt=""></figure>
            </summary>
          </li>
        </ul>
      </div>
    </section>
  </section>

  <section class="video-solution--iot__problem">
    <div class="containers">
      <h2 class="ttl-secondary">現状のIoTルーターに<br class="sp-only">おけるお悩み</h2>
      <p class="lead">様々な機器のIoT化によって得られる膨大なデータによって新たな価値創出が期待できる一方で<br class="pc-only">そのシステムに不可欠なIoTルーターには以下のようなお悩みがあり<br class="pc-only">導入しても効果的な運用に至らないケースも多いようです。</p>
      <ul class="flex item">
        <li class="item__wrap">
          <h3 class="item__wrap--ttl">装置の故障、外部電源や通信などの動作環境の影響による停止を減らしたい</h3>
          <summary class="item__box">
            <figure class="item__box--img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot05.png" alt=""></figure>
          </summary>
        </li>
        <li class="item__wrap">
          <h3 class="item__wrap--ttl">雨風や直射日光に当たる屋外、電源が得られないところにも設置したい</h3>
          <summary class="item__box">
            <figure class="item__box--img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot06.png" alt=""></figure>
          </summary>
        </li>
        <li class="item__wrap">
          <h3 class="item__wrap--ttl">保守運用や設置までの作業の軽減、<br class="pc-only">トラブル時の駆けつけを減らしたい</h3>
          <summary class="item__box">
            <figure class="item__box--img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot07.png" alt=""></figure>
          </summary>
        </li>
      </ul>
    </div>
  </section>

  <section class="video-solution--iot__solution symmetry">
    <div class="containers">
      <h2 class="ttl-secondary">アムニモの<br class="sp-only">IoTソリューションが<br class="sp-only">解決します</h2>
      <p class="lead">アムニモでは、堅牢性と運用性の高い高品質なIoTルーターと、<br class="pc-only">
        現場のデバイスの管理を遠隔から行える「デバイス管理システム」を提供しています。</p>
      <div class="flex sp-reverse item">
        <figure class="item__img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot08.png" alt=""></figure>
        <summary class="item__box">
          <h2 class="item__box--ttl">安定したIoT通信環境を実現</h2>
          <div class="item__box--txt">アムニモの製品は、複数SIMの搭載による通信回線の冗長化も可能なので、通信障害発生時にも安定したIoTシステムを運用できます。<br>
            特にアムニモのコンパクトルーターシリーズは、低コストかつ生産が安定しているため、ISDN/3G等の既存ルーターの置き換えに最適です。</div>
        </summary>
      </div>

      <div class="flex item">
        <summary class="item__box">
          <h2 class="item__box--ttl">そのまま屋外に設置できる<br class="sp-only">堅牢で便利な仕様</h2>
          <div class="item__box--txt">アムニモのIoTルーターは、屋内・屋外を問わず様々な用途に適したモデルをラインナップ。例えばIoTルーター（屋外版）AR20は、PoEを2ポート搭載、最大４つのSIM搭載可能、さらに防水・防塵・直射日光・雷対策（SPD）・電源・LTEアンテナをひとつのボックスに収納しカメラ映像をクラウドに送信するために必要な機能を全て搭載しています。<br>
            また、瞬停対策として外部からの電源遮断時でもバックアップ電源にて10秒以上稼働を続けるなど、不安定な電源環境下でも利用可能です。</div>
        </summary>
        <figure class="item__img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot09.png" alt=""></figure>
      </div>

      <div class="flex sp-reverse item">
        <figure class="item__img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot10.png" alt=""></figure>
        <summary class="item__box">
          <h2 class="item__box--ttl">導入時の初期設定から<br class="sp-only">設置後の運用まで<br>各種作業を遠隔で実施可能</h2>
          <div class="item__box--txt">IoTルーターの初期設定やファームウェア更新など、導入や運用時に発生する各種作業をクラウド連携により遠隔で実施可能です。また、IoTルーターに紐づく現地機器の死活監視や再起動等も遠隔で行えるため、保守業務のための現場への人の派遣を極力回避し、メンテナンスコストを軽減できます。また、遠隔からの動作ログの取得や、故障交換の際の設定の引継ぎにより、トラブル発生時の対応の効率化も可能です。</div>
        </summary>
      </div>
    </div>
  </section>

  <section class="video-solution--iot__feature">
    <div class="containers">
      <h2 class="ttl-secondary">高信頼性＆安定した<br class="sp-only">製品供給<br>アムニモのIoTルーター特長</h2>
      <div class="lead">大規模システムや既存通信回線の置き換えに多くのIoTルーターが必要な場合も<br class="pc-only">
        顧客視点に立った高品質・リーズナブル・安定した製品供給体制で<br class="pc-only">
        お客様が妥協することのないIoT化の実現をご支援します</div>
      <ul class="flex gap20 card">
        <li class="card__wrap">
          <h3 class="card__wrap--ttl">特長①<br>新アーキテクチャによる<br>シンプルな装置構造</h3>
          <summary class="card__box">
            <figure class="card__box--img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot11.png" alt=""></figure>
            <ul class="check-list">
              <li>従来、通信モジュールとは別のCPUに実装されるルーター機能や周辺機器インターフェース制御機能を、通信モジュール側に実装し２つに分かれていた機能を１つで実現</li>
            </ul>
          </summary>
        </li>
        <li class="card__wrap">
          <h3 class="card__wrap--ttl">特長②<br>低コスト仕様でも妥協せず<br>高信頼性を実現</h3>
          <summary class="card__box">
            <figure class="card__box--img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot12.png" alt=""></figure>
            <ul class="check-list">
              <li>Ethernetポート、無線LAN、WPS、VPNなど、モデルによって様々な仕様を搭載。アンテナを内蔵しさらにコストも削減</li>
            </ul>
          </summary>
        </li>
        <li class="card__wrap">
          <h3 class="card__wrap--ttl">特長③<br>大規模運用にも適し多様な用途に<br>対応したラインナップ</h3>
          <summary class="card__box">
            <figure class="card__box--img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot13.png" alt=""></figure>
            <ul class="check-list">
              <li>コストを抑えた高信頼性端末でISDN/3Gの置き換えに最適</li>
              <li>再生可能エネルギー関連設備、工場内設備、決済端末、組込機器などの各種産業用の小型通信デバイスとして</li>
            </ul>
          </summary>
        </li>
        <li class="card__wrap">
          <h3 class="card__wrap--ttl">特長④<br>複数SIMが搭載可能でキャリアの<br>自動切替機能も搭載</h3>
          <summary class="card__box">
            <figure class="card__box--img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot14.png" alt=""></figure>
            <ul class="check-list">
              <li>国内大手3大キャリアをはじめMVNO各社のSIMも対応。通信キャリアの障害時に短時間で通信を復旧することが可能</li>
              <li>災害時などのBCPを考慮した通信システムの冗長構成を組むことが容易に可能</li>
            </ul>
          </summary>
        </li>
        <li class="card__wrap">
          <h3 class="card__wrap--ttl">特長⑤<br>瞬停対策機能を搭載し電源断に<br>よる機器の不具合発生を抑止</h3>
          <summary class="card__box">
            <figure class="card__box--img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot15.png" alt=""></figure>
            <ul class="check-list">
              <li>大容量キャパシタを搭載することで、外部電源が遮断された後も数十秒間動作し続けるため、不安定な電源の場所でも停止時間の少ない運用が可能</li>
              <li>外部電源遮断の際にはデバイス管理システムに対してアラームを送信することが可能 </li>
            </ul>
          </summary>
        </li>
        <li class="card__wrap">
          <h3 class="card__wrap--ttl">特長⑥<br>産業用機器へのLTE通信の組込が<br>容易に</h3>
          <summary class="card__box">
            <figure class="card__box--img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot16.png" alt=""></figure>
            <ul class="check-list">
              <li>当社製品形状のままでの組込み、または大量の場合は回線基板形状での組込みも対応可能</li>
              <li>機種・OS依存のデバイスドライバも、通信の起動停止制御への対応も不要</li>
              <li>NATやファイアウォールはモジュール側で対応可能</li>
            </ul>
          </summary>
        </li>
      </ul>
    </div>
  </section>

  <section class="video-solution--iot__dl-doc material">
    <div class="containers">
      <h2 class="ttl-secondary ttl-secondary--video-solution__dl-doc cW">サービス資料</h2>
      <div class="flex jcC desc">
        <figure class="desc__img"><img src="/assets/img/pages/video-solution-iot/img-solution-service-doc.png" alt=""></figure>
        <summary class="desc__box">
          <div class="desc__box--ttl">アムニモの映像ソリューション（セキュリティ）の<br class="pc-only">詳細な情報はこちらの資料をご覧ください。</div>
          <a href="/form/eVMSflyerdownload" target="_blank" class="more">資料ダウンロード<span class="f80">(無料)</span></a>
        </summary>
      </div>
    </div>
  </section>
  
  <section class="video-solution--iot__case-study group">
    <div class="containers">
      <h2 class="ttl-secondary">アムニモの<br class="sp-only">IoTソリューションの<br>導入事例・利用シーン</h2>
      <div class="lead">アムニモはIoT・クラウド・AIの技術で、<br class="sp-only">高い堅牢性が求められる社会インフラの<br>DX推進を支援します</div>
      <ul class="flex gap30">
        <li class="card">
          <a href="/case/igrid/">
            <figure class="card__img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot17.png" alt=""></figure>
            <summary class="card__box">
              <h3 class="card__box--ttl">太陽光余剰電力の<br class="sp-only">効率運用システム</h3>
              <p class="card__box--txt">カスタムアプリケーションを柔軟にインストール可能な高い汎用性が最大の決め手。</p>
            </summary>
          </a>
        </li>
        <li class="card">
          <a href="/case/006/">
            <figure class="card__img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot18.png" alt=""></figure>
            <summary class="card__box">
              <h3 class="card__box--ttl">屋外設置の<br class="sp-only">防犯カメラ・監視カメラ運用</h3>
              <p class="card__box--txt">屋外設置の監視カメラの効率的な運用を実現します。</p>
            </summary>
          </a>
        </li>
        <li class="card">
          <a href="/case/004/">
            <figure class="card__img"><img src="/assets/img/pages/video-solution-iot/img-video-solution-iot19.png" alt=""></figure>
            <summary class="card__box">
              <h3 class="card__box--ttl">地域BWAでの利用シーン</h3>
              <p class="card__box--txt">地域BWAを利用し、町を見守る防犯カメラ・デジタルサイネージシステムを実現できます。</p>
            </summary>
          </a>
        </li>
      </ul>
      <a href="/whitepaper/#secCase" target="_blank" class="more">利用シーン資料ダウンロード<span class="f80">(無料)</span></a>
    </div>
  </section>

  <section class="relation">
    <div class="containers">
      <h2 class="ttl-secondary">IoTソリューションに最適な<br class="sp-only">IoTデバイスと<br class="sp-only">クラウドアプリケーション</h2>
      <div class="flex gap30">
        <a href="/service/iot_router/" class="item">
          <figure class="item__img"><img src="/assets/img/common/img-relation05.jpg" alt=""></figure>
          <h3 class="item__ttl">IoTルーター<span class="f80">(屋内版)</span></h3>
          <div class="item__txt">屋外設置でPoE給電が可能なLTEルーター。さまざまな産業用途で利用可能</div>
        </a>
        <a href="/service/iot_router_outdoor/" class="item">
          <figure class="item__img"><img src="/assets/img/common/img-relation02.jpg" alt=""></figure>
          <h3 class="item__ttl">IoTルーター<span class="f80">(屋外版)</span></h3>
          <div class="item__txt">IoT機器からのインターネット通信を可能にするLTEルーター。汎用性が高く、設置場所を選ばない小型軽量タイプ</div>
        </a>
        <a href="/service/compact_router/" class="item">
          <figure class="item__img"><img src="/assets/img/common/img-relation08.jpg" alt=""></figure>
          <h3 class="item__ttl">コンパクトルーター<span class="f80"> (屋外版)</span></h3>
          <div class="item__txt">さまざまなIoT機器に組み込み可能。高い信頼性での運用を可能とする小型で安価な産業用LTEルーター</div>
        </a>
        <a href="/service/compact_router_wifi/" class="item">
          <figure class="item__img"><img src="/assets/img/common/img-relation09.jpg" alt=""></figure>
          <h3 class="item__ttl">【開発中】コンパクトルーター <span class="f80">  (WiFi搭載/屋内版)</span></h3>
          <div class="item__txt">エッジゲートウェイの堅牢性を引き継ぎ、防水・防塵・直射日光・雷対策を考慮した設計。屋外設置可能な監視カメラ向けLTEゲートウェイ</div>
        </a>
        <a href="/service/compact_router_wifi/" class="item">
          <figure class="item__img"><img src="/assets/img/common/img-relation10.jpg" alt=""></figure>
          <h3 class="item__ttl">【開発中】コンパクトルーター <span class="f80">  (WiFi搭載/屋外版)</span></h3>
          <div class="item__txt">プライベートIPネットワーク内のデバイスに対して、インターネット経由で遠隔からセキュアな双方向通信を可能とするP2P接続サービス</div>
        </a>
        <a href="/service/dms/" class="item">
          <figure class="item__img"><img src="/assets/img/common/img-relation03.jpg" alt=""></figure>
          <h3 class="item__ttl">デバイス管理システム</h3>
          <div class="item__txt">IoTデバイスやカメラの死活監視、ファームウェアや設定内容の遠隔更新などができるサービス</div>
        </a>
      </div>
    </div>
  </section>

  <section class="contact-block">
    <h2 class="block-title"><span>お問い合わせ</span></h2>
    <ul>
      <li class="btn green"><a href="https://support.amnimo.com/hc/ja/requests/new" target="_blank" class="form">お問い合わせ<span class="ib">フォーム</span></a></li>
      <li class="btn green"><a href="https://amo.amnimo.com/form/eVMSflyerdownload" target="_blank" class="doc">資料ダウンロード<span class="f80">（無料）</span></a></li>
      <li class="btn green"><a href="https://amo.amnimo.com/form/estimate" target="_blank" class="quotation">お見積もり依頼</a></li>
    </ul>
  </section>
</div>
<!--container-->


{% endblock %}