/*
  ----------------
  パンくずのスタイル設定
  ----------------
*/

.breadcrumb {
  margin: 0;
  line-height: 1;
  letter-spacing: normal;
  background: #fff;
  box-shadow: 0px 10px 10px -10px rgba(237, 237, 237, 0.7);
  position: relative;
}

.breadcrumb .breadcrumb-list {
  position: relative;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 2.1428em;
  padding: 2.1em 0 0 16.3265306122%;
  max-width: 980px;
  font-size: 0.875em;
  line-height: 1;
}

.breadcrumb .breadcrumb-list li {
  position: relative;
  padding-right: 2.6em;
  color: #10069f;
}

.breadcrumb .breadcrumb-list li a {
  color: #10069f;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.breadcrumb .breadcrumb-list li a:hover {
  color: #00e0cd;
}

.breadcrumb .breadcrumb-list li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 1.0714em;
  width: 5px;
  height: 5px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.breadcrumb .breadcrumb-list li:first-child {
  padding-left: 0;
}