{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}


<div id="container" class="arc-news">

  <div class="breadcrumb">
    <ul class="breadcrumb-list">
      <li><a href="/">産業用IoTのことならamnimo</a></li>
      <li>導入事例・利用シーン</li>
    </ul>
  </div>
  <!-- .breadcrumb -->

  <div class="mv-block">
    <div class="slide-wrap">
        <ul class="mv-slider">
           <li>
                <a href="/news/20230221_pressrelease_1/">
                    <img src="/assets/img/sources/news/20230221_pressrelease_1/mv.png" alt="" width="300" height="200">
                    <p class="news-type"><span>プレスリリース</span></p>
                    <p class="txt">コンパクトルーターシリーズの新製品、WiFi搭載ルーターを開発開始</p>
                </a>
            </li>
            <li>
                <a href="/news/20220929_pressrelease_1/">
                    <img src="/assets/img/sources/news/20220929_pressrelease_1/mv.png" alt="" width="300" height="200">
                    <p class="news-type"><span>プレスリリース</span></p>
                    <p class="txt">開発中の「AIエッジゲートウェイAX11」にルネサス エレクトロニクスの新製品「RZ/V2MA」を採用</p>
                </a>
            </li>
            <li>
                <a href="/news/20220627_pressrelease_1/">
                    <img src="/assets/img/sources/news/20220627_pressrelease_1/mv.png" alt="" width="300" height="200">
                    <p class="news-type"><span>プレスリリース</span></p>
                    <p class="txt">【事例公開】アイ・グリッド・ソリューションズがエッジゲートウェイ「AG10」を導入</p>
                </a>
            </li>
            <li>
                <a href="/news/20220420_pressrelease_1/">
                    <img src="/assets/img/sources/news/20220420_pressrelease_1/mv.jpg" alt="" width="300" height="180">
                    <p class="news-type"><span>プレスリリース</span></p>
                    <p class="txt">新アーキテクチャを採用した産業用小型LTEルーターを販売開始</p>
                </a>
            </li>

            <li>
                <a href="/news/20220214_pressrelease_1/">
                    <img src="/assets/img/sources/news/20220214_pressrelease_1/mv.jpg" alt="" width="300" height="180">
                    <p class="news-type"><span>プレスリリース</span></p>
                    <p class="txt">「燃料電池型監視カメラソリューション」を新発売</p>
                </a>
            </li>


        </ul>
    </div>
</div>
<!-- .mv-block -->

<div class="news-block">
    <h3 class="block-title"><span>ニュース</span></h3>
    <!--<div class="arrow-block-gateway wrap">
    <div class="arrow-btn next"><a href="../../../case/010/" target="_blank">ユーザー向けニュース</a></div>
    </div>--><!-- .arrow-block-gateway -->
    <div class="wrap">
        <div class="sort-box">
            <p class="sort-btn active"><span class="all">ALL</span></p>
            <div class="btn-wrap">
                <p class="sort-btn"><span class="info">お知らせ</span></p>
                <p class="sort-btn"><span class="pressrelease">プレスリリース</span></p>
                <p class="sort-btn"><span class="report">イベント・セミナー</span></p>
                <p class="sort-btn"><span class="media">メディア掲載</span></p>
            </div>
        </div>
        <ul class="news-list">
            <li class="pressrelease">
                <a href="/news/20230221_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2023.2.21</span>
                        <span class="ttl">コンパクトルーターシリーズの新製品、WiFi搭載ルーターを開発開始</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20230217_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2023.2.17</span>
                        <span class="ttl">「IoT Solution Day powered by SORACOM Partner Space ～製造業編～」出展のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20230215_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2023.2.15</span>
                        <span class="ttl">『SECURITY SHOW 2023』出展のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20221223_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.12.23</span>
                        <span class="ttl">メンテナンス実施のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20221222_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.12.22</span>
                        <span class="ttl">年末年始休業のご案内</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20221116_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.11.16</span>
                        <span class="ttl">Webセミナー登壇のお知らせ「最も簡単な方法で始めてみよう通信障害対策」</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20221114_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.11.14</span>
                        <span class="ttl">【復旧】アムニモWebサイト障害</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20221024_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.10.24</span>
                        <span class="ttl">アムニモ×SORACOM共催セミナー：今からでも間に合うISDN・専用線置き換え対策セミナー</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20221021_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.10.21</span>
                        <span class="ttl">【11/29(火)開催】アムニモWebセミナー：風力発電の事例で学ぶ遠隔映像監視システムの最前線</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20221014_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.10.14</span>
                        <span class="ttl">【復旧】アムニモコールセンター電話障害</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://xtech.nikkei.com/atcl/nxt/news/18/13807/" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.10.3</span>
                        <span class="ttl">日経XTECHに掲載されました。～ルネサスが推論処理100倍のMPUで新製品、複数カメラに対応～</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://www.weeklybcn.com/journal/news/detail/20220930_194028.html" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.9.30</span>
                        <span class="ttl">週刊BCNに掲載されました。～アムニモ、AIエッジゲートウェイAX11にルネサスの「RZ/V2MA」を採用～</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20220929_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.9.29</span>
                        <span class="ttl">開発中の「AIエッジゲートウェイAX11」にルネサス エレクトロニクスの新製品「RZ/V2MA」を採用</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20220926_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.9.26</span>
                        <span class="ttl">『Japan IT Week秋』出展のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="/news/20220922_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.9.22</span>
                        <span class="ttl">月刊計装１０月号に掲載されました。～社会インフラの遠隔監視を監視カメラで実現する先進映像ソリューション～</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20220801_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.8.1</span>
                        <span class="ttl">取締役会長に金川裕一氏就任のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20220722_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.7.22</span>
                        <span class="ttl">IoT Solution Day 出展のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="/news/20220721_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.7.21</span>
                        <span class="ttl">月刊計装７月号に掲載されました。～IoT通信デバイスの新アーキテクチャとコンパクトルータの開発～</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://www.weeklybcn.com/journal/news/detail/20220628_192079.html" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.6.28</span>
                        <span class="ttl">週刊BCNに掲載されました。～アムニモの「AG10」、アイグリッドの「R.E.A.L. New Energy Platform」に採用～</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://www.nikkei.com/article/DGXZRSP635283_X20C22A6000000/" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.6.27</span>
                        <span class="ttl">日本経済新聞に掲載されました。～アイ・グリッド・ソリューションズ、「R.E.A.L.New Energy Platform」の商用化と本格導入を開始～</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20220627_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.6.27</span>
                        <span class="ttl">【事例公開】太陽光によるエネルギーマネジメントプラットフォームの提供を行う「アイ・グリッド・ソリューションズ」がLTE回線対応エッジゲートウェイ「AG10」を導入</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20220616_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.6.16</span>
                        <span class="ttl">IoTのオンラインイベント「SORACOM Discovery」登壇のお知らせ</span>
                    </p>
                </a>
            </li>
            <!--<li class="info">
                <a href="/news/20220530_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.5.30</span>
                        <span class="ttl">【発生復旧】 システム障害のご連絡</span>
                    </p>
                </a>
            </li>-->
            <!--<li class="info">
                <a href="/news/20220520_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.5.20</span>
                        <span class="ttl">【復旧】アムニモWebサイトシステム障害復旧のご連絡</span>
                    </p>
                </a>
            </li>-->
            <!--<li class="info">
                <a href="/news/20220510_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.5.10</span>
                        <span class="ttl">【復旧】アムニモメールサーバーシステム障害復旧のご連絡</span>
                    </p>
                </a>
            </li>-->
            <!--<li class="info">
                <a href="/news/20220509_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.5.9</span>
                        <span class="ttl">アムニモメールサーバーシステム障害のご連絡</span>
                    </p>
                </a>
            </li>-->
            <li class="info">
                <a href="/news/20220422_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.4.22</span>
                        <span class="ttl">あわら温泉「芦湯」での新型コロナウイルス感染リスク低減に向けた実証実験に当社「エッジゲートウェイAG10」が採用されました</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://engineer.fabcross.jp/archeive/220420_amnimo.html" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.4.21</span>
                        <span class="ttl">fabcross for エンジニアに掲載されました。　～通信モジュール側にルーター機能を実装した産業用小型LTEルーターを販売開始 アムニモ～</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20220420_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.4.20</span>
                        <span class="ttl">新アーキテクチャを採用した産業用小型LTEルーターを4月20日より販売開始<br>～高信頼性を維持したまま低コストと小型化を実現～</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20220311_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.3.11</span>
                        <span class="ttl">『Japan IT Week春』出展のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://monoist.itmedia.co.jp/mn/articles/2203/09/news062.html" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.3.9</span>
                        <span class="ttl">Monoistに掲載されました。　～LTE通信モジュールのCPUにVPNルーター機能を実装した小型ルーターを発売へ～</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20220224_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.2.24</span>
                        <span class="ttl">監視カメラ映像をクラウドに録画するサービス「クラウドビデオレコーダー」ののお試し利用パッケージ提供開始について</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://www.kensetsunews.com/web-kan/666761" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.2.17</span>
                        <span class="ttl">建設通信新聞に掲載されました。　～【燃料電池型の監視カメラ】河川監視など防災分野で活用 トーノーセキュリティら～</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20220217_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.2.17</span>
                        <span class="ttl">新技術・LTE通信モジュールにルーター機能を実装<br> ～IoTデバイスの小型化と、圧倒的な低価格を実現。新技術を搭載するコンパクトルーターおよび組み込み用LTE通信モジュールも開発～</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20220214_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.2.14</span>
                        <span class="ttl">「燃料電池型監視カメラソリューション」を新発売<br>～電気・通信工事が不要、監視カメラの映像を遠隔地から確認可能に～</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20220209_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2022.2.9</span>
                        <span class="ttl">『SECURITY SHOW 2022』出展のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20211222_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.12.22</span>
                        <span class="ttl">【1/20(木)開催】Webセミナー共催：止まらないIoTの運用</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20211217_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.12.17</span>
                        <span class="ttl">年末年始休業のご案内</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://iotnews.jp/archives/195144" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.12.9</span>
                        <span class="ttl">IoTニュースに掲載されました。　～近鉄、ソフトバンク・アムニモの技術協力の下P2Pを活用した「踏切遠隔状態監視システム」を導入～</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20211209_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.12.9</span>
                        <span class="ttl">CEマーク取得のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20211208_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.12.8</span>
                        <span class="ttl">IoTを活用した踏切設備の遠隔状態監視システムを導入</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20211206_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.12.6</span>
                        <span class="ttl">広域に展開した監視カメラ映像を一括管理できる「統合ビデオ管理システム」販売開始のご案内</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20211206_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.12.6</span>
                        <span class="ttl">特許取得のお知らせ「瞬停対策」</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20211130_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.11.30</span>
                        <span class="ttl">【12/16(木)開催】アムニモWebセミナー：監視カメラシステムの課題解決セミナー</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20211116_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.11.16</span>
                        <span class="ttl">鉄道に関連するJIS規格「JIS E 3014 2種」「JIS E 4031」適合のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20211112_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.11.12</span>
                        <span class="ttl">『鉄道技術展2021』出展のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://weekly.ascii.jp/elem/000/004/072/4072873/
                " target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.10.22</span>
                        <span class="ttl">週刊アスキーに掲載されました。　～アムニモ、屋外に設置できるIoTルーターとエッジゲートウェイを発売～</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20211022_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.10.22</span>
                        <span class="ttl">屋外に設置可能でPoE給電に対応したLTEルーター<br>『IoTルーター（屋外版） AR20』の販売開始のご案内</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20211020_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.10.20</span>
                        <span class="ttl">屋外に設置可能で映像ソリューションに最適化されたLTEゲートウェイ<br>「エッジゲートウェイ（屋外版） AG20」販売開始のご案内</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20211020_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.10.20</span>
                        <span class="ttl">『Japan IT Week 秋2021』出展のお知らせ</span></p>
                </a>
            </li>
            <li class="media">
                <a href="https://www.nikkei.com/article/DGXLRSP619791_Z11C21A0000000/
                " target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.10.19</span>
                        <span class="ttl">日本経済新聞に掲載されました。　～アムニモ、AIチップを搭載した高性能・低消費電力で小型軽量な「AIエッジゲートウェイ」を開発開始～</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://ascii.jp/elem/000/004/072/4072370/" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.10.18</span>
                        <span class="ttl">ASCII.jpに掲載されました。　～アムニモ、低電力の画像AI機能を搭載した録画装置「AIエッジゲートウェイ」～</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20211018_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.10.18</span>
                        <span class="ttl">AIチップを搭載した高性能・低消費電力で小型軽量な「AIエッジゲートウェイ」を開発開始<br>～録画装置に、新たに低消費電力の画像AI機能を搭載～</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20210623_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.6.23</span>
                        <span class="ttl">「SORACOMパートナースペース 認定済デバイスパートナー」に認定および<br>『IoTルーター amnimo Rシリーズ AR10』が「SORACOM認定デバイス」として登録</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20210621_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.6.21</span>
                        <span class="ttl">代表取締役及び役員の異動に関するお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20210611_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.6.11</span>
                        <span class="ttl">『第1回 Japan IT Week オンライン』出展のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20210521_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.5.21</span>
                        <span class="ttl">amnimo sense betaの提供停止及び受注停止のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20210428_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.4.28</span>
                        <span class="ttl">エッジゲートウェイシリーズ新機能の提供開始のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20210423_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.4.23</span>
                        <span class="ttl">簡易無線水位計測サービスwater levelの提供停止及び受注停止のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20210419_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.4.19</span>
                        <span class="ttl">ゴールデンウィーク休業のご案内</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20210407_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.4.7</span>
                        <span class="ttl">『Japan IT Week春 2021』出展のお知らせ</span></p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20210323_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.3.23</span>
                        <span class="ttl">高信頼性で小型軽量なIoT用LTEルーター<br>『IoTルーター amnimo Rシリーズ AR10』の販売開始のご案内</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20210311_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.3.11</span>
                        <span class="ttl">震災対策技術展横浜　無人展示のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20210308_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.3.8</span>
                        <span class="ttl">簡易無線水位計測サービスwater levelの契約台数プランリニューアルのお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20210308_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.3.8</span>
                        <span class="ttl">SECURITY SHOW無人展示のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20210302_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.3.2</span>
                        <span class="ttl">「簡易無線水位計測サービス」が農業農村整備民間技術情報データベース（NNTD）に登録</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20210218_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.2.18</span>
                        <span class="ttl">アムニモ株式会社『SECURITY SHOW 2021』出展のお知らせ<br>～お客様の声から生まれた監視カメラソリューションを紹介～</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20210210_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.2.10</span>
                        <span class="ttl">第４回関西スマート農業EXPO出展中止のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20210201_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.2.1</span>
                        <span class="ttl">簡易無線水位計測サービスwater levelの長期データ保存機能の利用開始のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20210122_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.1.22</span>
                        <span class="ttl">2/9(火)開催：Webセミナー　手軽に始めるIoTとは？ ～映像活用ソリューション編～</span></p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20210120_report_3/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.1.20</span>
                        <span class="ttl">1/28(木)開催：横河レンタ・リース×アムニモ共同Webセミナー<br>土木・建築業の方向け　現場の“密”を低減するIoT/xR技術</span> </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20210120_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.1.20</span>
                        <span class="ttl">簡易無線水位計測サービスの水位計5m、10mケーブル品販売停止のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20210120_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.1.20</span>
                        <span class="ttl">エンドポイントデバイスamnimo T seriesの提供停止及び受注停止のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20210108_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2021.1.8</span>
                        <span class="ttl">2020年　イベントレポート</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20201221_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.12.21</span>
                        <span class="ttl">エンドユーザー様向け<br>簡易無線水位計測サービス（water level）オンライン申込みページ開設のご案内</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://shinken-eventandseminar.jp/information/3549" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.12.18</span>
                        <span class="ttl">新建新聞に掲載されました。　～河川の水位監視、IoT技術を活用した計測と遠隔監視～</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20201218_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.12.18</span>
                        <span class="ttl">年末年始休業のご案内</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20201215_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.12.15</span>
                        <span class="ttl">うずまきポンプ遠隔監視サービスpump guardの提供停止及び受注停止のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20201208_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.12.8</span>
                        <span class="ttl">【ご好評につき再開催】Webセミナー<br>すぐに始められる水位計測～IoT型水位計と活用事例～</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20201204_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.12.4</span>
                        <span class="ttl">「簡易無線水位計測サービス」が<br>国土交通省のNETIS（公共工事等における新技術情報提供システム）に登録</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20201126_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.11.26</span>
                        <span class="ttl">簡易無線水位計測サービスのバッテリーパック販売開始のご案内</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20201110_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.11.10</span>
                        <span class="ttl">11/19(木)開催：Webセミナー すぐに始められる水位計測～IoT型水位計と活用事例～</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://ascii.jp/elem/000/004/031/4031775/" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.11.4</span>
                        <span class="ttl">ASCIIに掲載されました。　～巨大な監視カメラネットワークを運用できる「Edge Gateway」～</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20201027_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.10.27</span>
                        <span class="ttl">【動画公開】現場が求める監視カメラソリューション　オンライン説明会</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://news.mynavi.jp/article/20201022-1429464/" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.10.22</span>
                        <span class="ttl">マイナビニュースに掲載されました。　～監視カメラに適したLTE通信対応のゲートウェイ装置～</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://monoist.atmarkit.co.jp/mn/articles/2010/22/news051.html" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.10.22</span>
                        <span class="ttl">Monoistに掲載されました。　～監視カメラ用途で提案、映像向け産業用IoTゲートウェイ～</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20201021_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.10.21</span>
                        <span class="ttl">高性能で堅牢性に優れた産業用LTEゲートウェイ<br>「Edge Gateway amnimo Gシリーズ AG10」販売開始のご案内</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://www.kensetsunews.com/web-kan/501220" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.10.18</span>
                        <span class="ttl">建設通信新聞に掲載されました。　～水位計測のDX最新動向～</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://www.agrinews.co.jp/p51902.html" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.09.16</span>
                        <span class="ttl">日本農業新聞に掲載されました。　～豪雨時遠隔監視で　ため池監視サービス脚光～</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20200914_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.9.14</span>
                        <span class="ttl">簡易無線水位計測サービス（water level）の料金プラン改定のご案内</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200904_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.9.4</span>
                        <span class="ttl">9/15(火)開催：Webセミナー「台風シーズンに備える水害対策　～すぐ始められるIoT型水位計と活用事例～」</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200831_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.8.31</span>
                        <span class="ttl">山口県産業技術センター主催「第4回スマート★づくり研究会」にアムニモが登壇します。</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200827_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.8.27</span>
                        <span class="ttl">9/16(水)開催：ジェムコ日本経営×アムニモ共同Webセミナー IIoT（産業用IoT）による製造デジタル化推進のための初めの一歩 ～デジタル化導入の壁を低くするIoTサービス～</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200821_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.8.21</span>
                        <span class="ttl">Smart Nation Expo 2020 バーチャル出展のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200812_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.8.12</span>
                        <span class="ttl">8/27(木)開催：Webセミナー　PoCの壁を超えてIoTビジネスを始めるには？～それ、アムニモがサポートします～</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200812_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.8.12</span>
                        <span class="ttl">メンテナンス・レジリエンスOSAKA 2020　出展レポート</span>
                    </p>
                </a>
            </li>
            <!--
  <li class="info">
    <a href="/news/20200730_report_1/">
      <span class="type"></span>
      <p class="txt-box">
        <span class="date">2020.7.30</span>
        <span class="ttl">【数量限定】企業の新型コロナ対策「CO2可視化3密対策キット」</span>
      </p>
    </a>
  </li> -->

            <li class="report">
                <a href="/news/20200722_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.7.22</span>
                        <span class="ttl">8/5(水)開催：Webセミナー　豪雨対策に適したIoTによる水位計測の方法</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20200708-01_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.7.8</span>
                        <span class="ttl">アムニモサービスの新機能追加のご案内</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200630_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.6.30</span>
                        <span class="ttl">【ご好評につき再配信】 Webセミナー 手軽に始める IoT とは? ~水位遠隔監視の導入実例・実装編~</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200608_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.6.8</span>
                        <span class="ttl">6/18(木)開催：Webセミナー　手軽に始めるIoTとは？ ～水位遠隔監視の導入実例・実装編～</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200526_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.5.26</span>
                        <span class="ttl">6/4(木)開催：Web セミナー　IoT で実現する企業のコロナ対策 ～店舗の３密を防ぐには？～</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200519_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.5.19</span>
                        <span class="ttl">公益財団法人 あいち産業振興機構主催「ものづくり企業のAI・IoT活用無料Webセミナー」にアムニモが登壇します</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200513_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.5.13</span>
                        <span class="ttl">5/22(金)開催：Webセミナー　IoTで実現する企業の「withコロナ」 ～工場設備の遠隔監視とオフィスの3密対策～</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200507_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.5.7</span>
                        <span class="ttl">5/14(木)開催：Webセミナー 「手軽に始めるIoTとは？～ポンプの遠隔監視編～」</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20200424_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.4.24</span>
                        <span class="ttl">【重要】マレーシア活動制限令に伴う新規受注一時停止のお知らせ（5/12まで延長）</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200421_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.4.21</span>
                        <span class="ttl">【4/28(火)開催：Webセミナー「手軽に始めるIoTとは？～IoTの実装編～」</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://monoist.atmarkit.co.jp/mn/articles/2004/21/news023.html" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.04.21</span>
                        <span class="ttl">Monoistに掲載されました。～IIoT付加サービス提供で連携、横河電機、アムニモ、日立キャピタルの3社～</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20200420_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.4.20</span>
                        <span class="ttl">ゴールデンウィーク休業のご案内</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://monoist.atmarkit.co.jp/mn/articles/2004/16/news050.html" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.04.16</span>
                        <span class="ttl">Monoistに掲載されました。～さまざまな産業で利用可能な産業用LTEゲートウェイの開発を開始～</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200414_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.4.14</span>
                        <span class="ttl">4/22(水)開催：Webセミナー「手軽に始めるIoTとは？～水位の遠隔監視編～」</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20200413_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.4.13</span>
                        <span class="ttl">【重要】マレーシア 活動制限令に伴う新規受注一時停止（延長）</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200407_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.4.7</span>
                        <span class="ttl">4/13(月)開催：Webセミナー「手軽に始めるIoTとは？～設備稼働監視編～」</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20200403_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.4.3</span>
                        <span class="ttl">新型コロナウイルスの感染拡大の状況下における当社の対応について</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20200401_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.4.1</span>
                        <span class="ttl">【重要】マレーシア 活動制限令に伴う新規受注一時停止</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="/news/20200330-02_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.03.30</span>
                        <span class="ttl">電波タイムズに掲載されました。～高性能で堅牢性に優れた産業用LTEゲートウェイの開発を開始～</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="/news/20200330-01_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.03.30</span>
                        <span class="ttl">電波タイムズに掲載されました。～クラウド型簡易無線水位計測サービス～</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20200326_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.3.26</span>
                        <span class="ttl">日立キャピタル、横河電機、アムニモがIIoT分野における包括連携協定を締結</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://www.techeyesonline.com/tech-column/detail/PR-amnimo-034/" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.03.24</span>
                        <span class="ttl">TechEyesOnlineに掲載されました。～クラウドを活用したIoT技術を使って、水位計市場に挑む～</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20200323_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.3.23</span>
                        <span class="ttl">産業用LTEゲートウェイ「Edge Gateway」開発開始</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://smartiot-forum.jp/iot-val-team/iot-case/case-amnimo" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.03.11</span>
                        <span class="ttl">スマートIoT推進フォーラムに掲載されました。～IoTを活用した業務課題の解決を手軽に支援する～</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200306_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.3.6</span>
                        <span class="ttl">「千葉市産業振興財団 第3回ビジネス交流会」 出展レポート</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200305_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.3.5</span>
                        <span class="ttl">「第4回スマート工場EXPO」 出展レポート</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200304_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.3.4</span>
                        <span class="ttl">第24回「震災対策技術展」横浜 出展レポート</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200303_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.3.3</span>
                        <span class="ttl">「中小製造業によるIoT導入ハンズオン体感セミナー」レポート</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://www.kensetsunews.com/web-kan/421741" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.02.23</span>
                        <span class="ttl">日刊建設通信新聞に掲載されました。～【水害対策】低価格で水位の遠隔監視を実現～</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://jbpress.ismedia.jp/articles/-/59249" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.02.21</span>
                        <span class="ttl">JBPressに掲載されました。～低コストのICT水位計測サービスで工事現場の課題を手軽に解決〜</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="/news/20200206_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.02.06</span>
                        <span class="ttl">日刊建設工業新聞に掲載されました。～簡易無線水位計測サービス開始～</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200205_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.2.5</span>
                        <span class="ttl">2019年イベントレポート</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200204_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.2.4</span>
                        <span class="ttl">ハンズオンセミナーレポート</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20200203_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.2.3</span>
                        <span class="ttl">マレーシア登壇レポート</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://sekokan-navi.jp/magazine/33144" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.01.31</span>
                        <span class="ttl">施工の神様に掲載されました。～“月3万円～”で水害大国・日本を守る～</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="/news/20200131_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.01.31</span>
                        <span class="ttl">日刊建設産業新聞に掲載されました。～簡易無線水位計測サービスを開始～</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20200120_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2020.1.20</span>
                        <span class="ttl">「簡易無線水位計測サービス」申し込み開始</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20191217_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.12.17</span>
                        <span class="ttl">年末年始休業のご案内</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20191205_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.12.5</span>
                        <span class="ttl">「IIFES2019」出展レポート</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20191121_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.11.21</span>
                        <span class="ttl">マレーシア出展レポート</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20191120_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.11.20</span>
                        <span class="ttl">「ひろしまIT総合展2019」出展レポート</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://jbpress.ismedia.jp/articles/-/58168" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.11.20</span>
                        <span class="ttl">JBPressに掲載されました。～伝統的なものづくり企業イワキはなぜ、IoTビジネスに踏み出せたのか～</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20191108_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.11.08</span>
                        <span class="ttl">アムニモサービス 約款改定のお知らせ</span>
                    </p>
                </a>
            </li>
            <li class="info">
                <a href="/news/20191107-04_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.11.07</span>
                        <span class="ttl">アムニモサービスの新機能追加のご案内</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20191107-03_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.11.07</span>
                        <span class="ttl">「名古屋商工会議所 IoTワールド」出展レポート</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20191107-01_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.11.07</span>
                        <span class="ttl">マレーシア登壇レポート</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20191101_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.11.01</span>
                        <span class="ttl">「第10回 Japan IT Week【秋】」出展レポート</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20191016_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.10.16</span>
                        <span class="ttl">中堅・中小製造業に適したIoTツール「第3回スマートものづくり応援ツール」に選出</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20191009_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.10.09</span>
                        <span class="ttl">「第10回 Japan IT Week【秋】」出展について</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20191002_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.10.02</span>
                        <span class="ttl">「2019年度グッドデザイン賞」を受賞（エンドポイントデバイス amnimo T series）</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://jbpress.ismedia.jp/articles/-/55930" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.07.02</span>
                        <span class="ttl">JBPressに掲載されました。～中小企業こそ「リーンIoT」で現場の課題解決に取り組むべき～</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://jbpress.ismedia.jp/articles/-/56047" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.06.28</span>
                        <span class="ttl">JBPressに掲載されました。～産業用IoTも「サブスク」で利用する時代に～</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20190625_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.6.25</span>
                        <span class="ttl">パートナー募集受付を開始</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20190624_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.6.24</span>
                        <span class="ttl">西日本製造技術イノベーション 2019　出展について</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://monoist.atmarkit.co.jp/mn/articles/1906/24/news040.html" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.06.24</span>
                        <span class="ttl">Monoistに掲載されました。～産業用IoTの導入と運用に必要な機能をパッケージ化したサービスを提供～</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20190617_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.6.17</span>
                        <span class="ttl">「西日本製造技術イノベーション2019」出展</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20190614_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.6.14</span>
                        <span class="ttl">Zuora主催「デジタルトランスフォーメーション×収益化戦略の実践」登壇レポート</span>
                    </p>
                </a>
            </li>
            <li class="pressrelease">
                <a href="/news/20190611_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.6.11</span>
                        <span class="ttl">アムニモの基本サービス「amnimo sense beta（アムニモ　センス　ベータ）」提供開始</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20190531_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.5.31</span>
                        <span class="ttl">マレーシア　登壇レポート</span>
                    </p>
                </a>
            </li>
            <!-- <li class="info blank">
    <a href="https://www.fujitsu.com/jp/services/business-application-services/business-consulting/co-creating-program/design-services/case/yokogawa-201903/" target="_blank">
      <span class="type"></span>
      <p class="txt-box">
        <span class="date">2019.3.05</span>
        <span class="ttl">アムニモのビジョン策定共創事例が、富士通株式会社様のサイトで公開されました　詳しくはこちら</span>
      </p>
    </a>
  </li> -->
            <li class="media">
                <a href="/news/20190130_report_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.01.30</span>
                        <span class="ttl">日経産業新聞「2019年注目すべき技術・製品・サービス」に掲載されました</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20190125_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.1.25</span>
                        <span class="ttl">計装研究会 平成30年度 第410回・411回例会 出展レポート</span>
                    </p>
                </a>
            </li>
            <li class="info blank">
                <a href="https://www.collaborative-world.com" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.1.22</span>
                        <span class="ttl">新規サイト「Collaborative World」OPEN<br>第一弾対談「『未来価値の創造』MIT 石井裕× amnimo 谷口功一」を公開しました</span>
                    </p>
                </a>
            </li>
            <li class="media">
                <a href="https://monoist.atmarkit.co.jp/mn/articles/1901/16/news085.html" target="_blank">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2019.01.16</span>
                        <span class="ttl">Monoistに掲載されました。～製造業がIoTサービス企業を立ち上げるまで～</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20181115_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2018.11.15</span>
                        <span class="ttl">Zuora Subscribed Tokyo 2018 登壇レポート</span>
                    </p>
                </a>
            </li>
            <li class="report">
                <a href="/news/20181023_report_2/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2018.10.23</span>
                        <span class="ttl">CEATEC JAPAN 2018　出展レポート</span>
                    </p>
                </a>
            </li>
            <!-- <li class="info">
    <a href="/">
      <span class="type"></span>
      <p class="txt-box">
        <span class="date">2018.10.12</span>
        <span class="ttl">CEATEC JAPAN 2018公式WEBサイトに、アムニモの記事が掲載されました</span>
      </p>
    </a>
  </li> -->
            <li class="pressrelease">
                <a href="/news/20180928_pressrelease_1/">
                    <span class="type"></span>
                    <p class="txt-box">
                        <span class="date">2018.09.28</span>
                        <span class="ttl">IoTをメインテーマとした総合展示会である「CEATEC JAPAN 2018」への出展について</span>
                    </p>
                </a>
            </li>
        </ul>

        <nav class="pagination">
          <div class="nav-links">
            <a class="prev page-numbers" href="#"><span></span></a>
            <a class="page-numbers" href="#">1</a>
            <span class="page-numbers current">2</span>
            <a class="page-numbers" href="#">3</a>
            <a class="page-numbers" href="#">4</a>
            <a class="page-numbers" href="#">5</a>
            <a class="next page-numbers" href="#"><span></span></a>
          </div>
        </nav>
        <!--  <div class="pager-box">
  <ul class="pager">
    <li><a href="">&nbsp;</a></li>
    <li class="current">1</li>
    <li><a href="/news/list04/">2</a></li>
    <li><a href="">3</a></li>
    <li><a href="">4</a></li>
    <li><a href="">...</a></li>
    <li><a href="/news/list04/">&nbsp;</a></li>
  </ul>
</div>-->
    </div>
</div>
<!-- .news-block -->


  <div class="contact-block" id="contact-block">
    <h3 class="ttl-secondary"><span>お問い合わせ</span></h3>
    <ul>
      <li class="btn green"><a href="https://support.amnimo.com/hc/ja/requests/new" class="form" target="_blank">お問い合わせ<span class="ib">フォーム</span></a></li>
      <li class="btn green"><a href="/contact/#doc" class="doc">資料ダウンロード<span class="f80">（無料）</span></a></li>
      <li class="btn green"><a href="https://amo.amnimo.com/form/estimate" target="_blank" class="quotation">お見積もり依頼</a></li>
    </ul>
  </div>


</div>
<!--container-->


{% endblock %}