{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}


<div id="container" class="arc-case">

  <div class="breadcrumb">
    <ul class="breadcrumb-list">
      <li><a href="/">産業用IoTのことならamnimo</a></li>
      <li>導入事例・利用シーン</li>
    </ul>
  </div>
  <!-- .breadcrumb -->

  <section class="hero03 core">
    <div class="containers">
      <div class="hero03__box">
        <h1 class="ttl-primary-lower cW">導入事例・利用シーン</h1>
      </div>
    </div>
  </section>

  <section class="anc">
    <div class="containers">
      <ul class="flex jcC gap60 inherit anc__box">
        <li><a href="#CaseStudy">導入事例</a></li>
        <li><a href="#UseScene">利用シーン</a></li>
      </ul>
    </div>
  </section>

  <section>
		<div class="containers">
      <div class="search">
        <form method="get" action="" class="search__form">
          <input name="s" class="search__input" type="search" placeholder="キーワードから探す">
          <input type="hidden" name="post_type" value="column">
          <button accesskey="f" class="search__btn" type="submit"><img src="/assets/img/common/icon-search.svg"></button>
        </form>
      </div>
			<div class="flex gap10 jcC inherit">
        <a href="#" class="cat bgW">カテゴリ名が入ります。</a>
        <a href="#" class="cat bgW">カテゴリ名が入ります。</a>
        <a href="#" class="cat bgW">カテゴリ名が入ります。</a>
        <a href="#" class="cat bgW">カテゴリ名が入ります。</a>
        <a href="#" class="cat bgW">カテゴリ名が入ります。</a>
      </div>
		</div>
	</section>

  <section id="CaseStudy" class="group">
    <div class="containers">
      <h2 class="ttl-secondary">導入事例</h2>
      <div class="lead">実際にご導入いただいた実績・事例をご紹介します。</div>
      <div class="flex gap30">

        <a href="#" class="card">
          <figure class="card__img"><img src="/assets/img/common/img06.jpg" alt=""></figure>
          <summary class="card__box">
            <div class="card__box--cat">
              <span class="cat">カテゴリ名</span>
            </div>
            <h3 class="card__box--ttl">AIを活用した人流計測でまち全体の活性化へAIを活用した人流計測でまち全体の活性化へ</h3>
            <div class="card__box--txt">24時間、365日。簡単には止まらない、止まってもすぐに復旧する監視カメラシステムを構築できます。24時間、365日。簡単には止ま</div>
          </summary>
        </a>
        <a href="#" class="card">
          <figure class="card__img"><img src="/assets/img/common/img07.jpg" alt=""></figure>
          <summary class="card__box">
            <div class="card__box--cat">
              <span class="cat">カテゴリ名</span>
            </div>
            <h3 class="card__box--ttl">太陽光余剰電力の効率運用システム</h3>
            <div class="card__box--txt">カスタムアプリケーションを柔軟にインストール可能な高い汎用性が最大の決め手。</div>
          </summary>
        </a>
        
      </div>
    </div>
  </section>

  <section id="UseScene" class="group">
    <div class="containers">
      <h2 class="ttl-secondary">利用シーン</h2>
      <div class="lead">アムニモの製品・サービスは様々な業種・産業分野で活用できます。</div>
      <div class="flex gap30">

        <a href="#" class="card">
          <figure class="card__img"><img src="/assets/img/common/img08.jpg" alt=""></figure>
          <summary class="card__box">
            <div class="card__box--cat">
              <span class="cat">カテゴリ名</span>
            </div>
            <h3 class="card__box--ttl">監視カメラシステム</h3>
            <div class="card__box--txt">24時間、365日。簡単には止まらない、止まってもすぐに復旧する監視カメラシステムを構築できます。</div>
          </summary>
        </a>
        <a href="#" class="card">
          <figure class="card__img"><img src="/assets/img/common/img09.jpg" alt=""></figure>
          <summary class="card__box">
            <div class="card__box--cat">
              <span class="cat">カテゴリ名</span>
            </div>
            <h3 class="card__box--ttl">鉄道沿線のカメラ監視</h3>
            <div class="card__box--txt">踏切や駅、車庫、分岐器、トンネルの出入り口等の映像データを一括で監視します。</div>
          </summary>
        </a>
        <a href="#" class="card">
          <figure class="card__img"><img src="/assets/img/common/img10.jpg" alt=""></figure>
          <summary class="card__box">
            <div class="card__box--cat">
              <span class="cat">カテゴリ名</span>
            </div>
            <h3 class="card__box--ttl">踏切の遠隔監視</h3>
            <div class="card__box--txt">厳しい環境下でも安定的に稼働し、踏切の安全な運用を支えます。</div>
          </summary>
        </a>
        <a href="#" class="card">
          <figure class="card__img"><img src="/assets/img/common/img08.jpg" alt=""></figure>
          <summary class="card__box">
            <div class="card__box--cat">
              <span class="cat">カテゴリ名</span>
            </div>
            <h3 class="card__box--ttl">監視カメラシステム</h3>
            <div class="card__box--txt">24時間、365日。簡単には止まらない、止まってもすぐに復旧する監視カメラシステムを構築できます。</div>
          </summary>
        </a>
        <a href="#" class="card">
          <figure class="card__img"><img src="/assets/img/common/img09.jpg" alt=""></figure>
          <summary class="card__box">
            <div class="card__box--cat">
              <span class="cat">カテゴリ名</span>
            </div>
            <h3 class="card__box--ttl">鉄道沿線のカメラ監視</h3>
            <div class="card__box--txt">踏切や駅、車庫、分岐器、トンネルの出入り口等の映像データを一括で監視します。</div>
          </summary>
        </a>
        <a href="#" class="card">
          <figure class="card__img"><img src="/assets/img/common/img10.jpg" alt=""></figure>
          <summary class="card__box">
            <div class="card__box--cat">
              <span class="cat">カテゴリ名</span>
            </div>
            <h3 class="card__box--ttl">踏切の遠隔監視</h3>
            <div class="card__box--txt">厳しい環境下でも安定的に稼働し、踏切の安全な運用を支えます。</div>
          </summary>
        </a>
        <a href="#" class="card">
          <figure class="card__img"><img src="/assets/img/common/img08.jpg" alt=""></figure>
          <summary class="card__box">
            <div class="card__box--cat">
              <span class="cat">カテゴリ名</span>
            </div>
            <h3 class="card__box--ttl">監視カメラシステム</h3>
            <div class="card__box--txt">24時間、365日。簡単には止まらない、止まってもすぐに復旧する監視カメラシステムを構築できます。</div>
          </summary>
        </a>
        <a href="#" class="card">
          <figure class="card__img"><img src="/assets/img/common/img09.jpg" alt=""></figure>
          <summary class="card__box">
            <div class="card__box--cat">
              <span class="cat">カテゴリ名</span>
            </div>
            <h3 class="card__box--ttl">鉄道沿線のカメラ監視</h3>
            <div class="card__box--txt">踏切や駅、車庫、分岐器、トンネルの出入り口等の映像データを一括で監視します。</div>
          </summary>
        </a>
        <a href="#" class="card">
          <figure class="card__img"><img src="/assets/img/common/img10.jpg" alt=""></figure>
          <summary class="card__box">
            <div class="card__box--cat">
              <span class="cat">カテゴリ名</span>
            </div>
            <h3 class="card__box--ttl">踏切の遠隔監視</h3>
            <div class="card__box--txt">厳しい環境下でも安定的に稼働し、踏切の安全な運用を支えます。</div>
          </summary>
        </a>
        
      </div>
    </div>
  </section>


  <div class="contact-block" id="contact-block">
    <h3 class="ttl-secondary"><span>お問い合わせ</span></h3>
    <ul>
      <li class="btn green"><a href="https://support.amnimo.com/hc/ja/requests/new" class="form" target="_blank">お問い合わせ<span class="ib">フォーム</span></a></li>
      <li class="btn green"><a href="/contact/#doc" class="doc">資料ダウンロード<span class="f80">（無料）</span></a></li>
      <li class="btn green"><a href="https://amo.amnimo.com/form/estimate" target="_blank" class="quotation">お見積もり依頼</a></li>
    </ul>
  </div>


</div>
<!--container-->


{% endblock %}