<a href="#top" class="pagetop"></a>

<footer id="global-footer">
  <div class="inner">
    <div class="ftr-info">
      <div class="logo"><a href="https://amnimo.com"><img src="/assets/img/sources/parts/amnimo-white-logo.svg" alt="amnimo" width="185" height="40"></a></div>
      <ul class="sp">
        <li><a href="/terms/ja/terms.html" target="_blank">サイトご利用条件</a></li>
        <li><a href="/terms/ja/privacy.html" target="_blank">個人情報保護方針</a></li>
      </ul>
      <div class="btn-border">
        <!-- <a href="/cp/#/create-aad" target="_blank">会員登録</a> -->
        <a href="https://apps.amnimo.com/#/signin" target="_blank">サインイン</a>
      </div>
      <ul class="tel-box">
        <li class="tel">TEL:<a href="tel:050-3196-4774">050-3196-4774</a><span class="ib">（カスタマーサポート）</span></li>
      </ul>
    </div>
    <div class="ftr-nav">
      <ul class="clm">
        <li><a href="/service/">製品・サービス</a></li>
        <li class="indent"><a href="/service/edge_gateway/">エッジゲートウェイ（屋内版）</a></li>
        <li class="indent"><a href="/service/edge_gateway_outdoor/">エッジゲートウェイ（屋外版）</a></li>
        <li class="indent"><a href="/service/iot_router/">IoTルーター（屋内版）</a></li>
        <li class="indent"><a href="/service/iot_router_outdoor/">IoTルーター（屋外版）</a></li>
        <li class="indent"><a href="/service/ai_edge_gateway/">【開発中】AIエッジゲートウェイ</a></li>
        <li class="indent"><a href="/service/compact_router/">コンパクトルーター（屋内版）</a></li>
        <li class="indent"><a href="/service/compact_router_wifi/">【開発中】WiFi搭載コンパクトルーター</a></li>
        <li class="indent"><a href="/service/remoteit/">remote.it</a></li>
        <li class="indent"><a href="/service/vms/">ビデオマネジメントシステム(VMS)</a></li>
        <li class="indent"><a href="/service/dms/">デバイス管理システム</a></li>
        <li class="indent"><a href="/service/e_vms/">統合ビデオ管理システム</a></li>
        <li class="indent"><a href="/service/cloud_vr/">【開発中】クラウドビデオレコーダー</a></li>
        <li class="indent"><a href="/service/fuelcell_camera/">燃料電池型監視カメラソリューション</a></li>

        <!-- <li class="indent"><a href="/service/amnimo_sense/">amnimo sense</a></li> -->
      </ul><!-- /.clm -->
      <ul class="clm">
        <li><a href="/news/">ニュース</a></li>
        <li><a href="/about/">会社概要</a></li>
        <li><a href="/case/">導入事例</a></li>
        <li><a href="/partners/">パートナー紹介</a></li>
        <!-- <li><a href="/partner/">パートナー制度</a></li> -->
        <li><a href="/contact/#doc">資料ダウンロード</a></li>
        <li><a href="https://amo.amnimo.com/form/estimate" class="blank" target="blank">お見積り依頼</a></li>
        <li><a href="/contact/">お問い合わせ</a></li>
        <li><a href="/channel/">動画アーカイブ</a></li>
        <li><a href="/column/">コラム</a></li>
        <li><a href="https://support.amnimo.com/hc/ja" target="_blank" class="blank">FAQ</a></li>
      </ul><!-- /.clm -->
      <ul class="clm">
        <li class="pc"><a href="https://amnimo.com/terms/ja/terms.html" class="blank" target="_blank">サイトご利用条件</a></li>
        <li class="pc"><a href="https://amnimo.com/terms/ja/privacy.html" class="blank" target="_blank">個人情報保護方針</a></li>
        <!-- <li class="pc"><a href="https://amnimo.com/terms/ja/specified_commercial_transaction.html" class="blank" target="_blank">特定商取引法に基づく表記</a></li> -->
        <li><a href="/sitemap/">サイトマップ</a></li>
      </ul><!-- /.clm -->
    </div><!-- /.ftr-nav -->
    
    <!-- <ul class="ftr-nav">
      <li><a href="/contact/#doc">資料ダウンロード</a></li>
      <li class="pc"><a href="/terms/ja/terms.html" target="_blank">サイトご利用条件</a></li>
      <li><a href="/news/">ニュース</a></li>
      <li><a href="/inquiry/ja/estimate/input/" class="blank" target="blank">お見積り依頼</a></li>
      <li class="pc"><a href="/terms/ja/privacy.html" target="_blank">個人情報保護方針</a></li>
      <li><a href="/about/">会社概要</a></li>
      <li><a href="/contact/">お問い合わせ</a></li>
      <li class="pc"><a href="/terms/ja/specified_commercial_transaction.html" target="_blank">特定商取引法に基づく表記</a></li>
      <li><a href="/partner/">パートナー制度</a></li>
      <li><a href="https://support.amnimo.com/hc/ja" target="_blank" class="blank">FAQ</a></li>
      <li><a href="/sitemap.html">サイトマップ</a></li>
      <li class="pc"><a href="/terms/ja/affiliate_companies.html" target="_blank">協力会社／関係会社一覧</a></li>-->
    <!--</ul> -->
    <div class="ftr-lang"> 
      <div class="lang">
        <div class="lang-inner">
          <span class="jp"><a class="current">JP</a></span>
          <span class="toggle-switch">
            <input type="checkbox" id="lang-btn" class="toggle-lang">
            <label for="lang-btn"></label> 
          </span>
          <span class="en"><a>EN</a></span>
        </div>
      </div>
      <!-- <ul class="lang">
        <li><a href="landing.html" class="current">JP</a></li>
        <li><a href="en/landing.html">EN</a></li>
      </ul> -->
    </div>
    <div class="copyright"><span>&copy; amnimo Inc.</span></div>
    

  </div>
</footer>
<!-- /global-footer -->