<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="IIoT,通信,製品,事例,インダストリアルIoT">
<meta name="description" content="{% if description %}{{ description }}{% else %}アムニモは、横河電機のグループ会社です。容易に使えることと同時に高い信頼性を有する、IoT機器やソフトウェアサービスの提供を通じ、IoTとAIでつながる世界に貢献していきます{% endif %}">
<meta name="author" content="">
<title>{% if title %}{{ title }} | {% endif %}サイトタイトル</title>
<meta name="format-detection" content="telephone=no">
<!-- Google Tag Manager -->
<script>
  (function(w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
          'gtm.start': new Date().getTime(),
          event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-5RJ3BQK');
</script>
<!-- End Google Tag Manager -->
<link rel="canonical" href="https://amnimo.com/">
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content="">
<meta itemprop="image" content="">

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if title %}{{ title }} | {% endif %}IoT・クラウド・AIのことなら|アムニモ株式会社|横河電機グループ">
<meta name="twitter:image:src" content="">

<!-- Open Graph data -->
<meta property="og:title" content="{% if title %}{{ title }} | {% endif %}IoT・クラウド・AIのことなら|アムニモ株式会社|横河電機グループ">
<meta property="og:description" content="{% if description %}{{ description }}{% else %}アムニモは、横河電機のグループ会社です。容易に使えることと同時に高い信頼性を有する、IoT機器やソフトウェアサービスの提供を通じ、IoTとAIでつながる世界に貢献していきます{% endif %}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://amnimo.com/">
<meta property="og:image" content="https://amnimo.com/sources/img/og.png">
<meta property="og:image:width" content="">
<meta property="og:image:height" content="">
<meta property="og:site_name" content="アムニモ株式会社|amnimo Inc.もっと手軽にIoT「測る」「つなげる」「活用する」">

<!-- Web font -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/ncf8fus.css">

<!-- Style sheet -->
<link rel="stylesheet" href="/assets/css/main.css">