{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}


<div id="container" class="arc-whitepaper">

  <div class="breadcrumb">
    <ul class="breadcrumb-list">
      <li><a href="/">産業用IoTのことならamnimo</a></li>
      <li>お役立ち資料</li>
    </ul>
  </div>
  <!-- .breadcrumb -->

  <section class="hero03 core">
    <div class="containers">
      <div class="hero03__box">
        <h1 class="ttl-primary-lower cW">お役立ち資料</h1>
        <div class="lead cW">IoTや監視カメラシステム、AI、ゲートウェイ、ルーターなどに関する幅広い知識を<br>まとめてた資料が無料でダウンロードできます。</div>
      </div>
    </div>
  </section>

  <section class="anc">
    <div class="containers">
      <ul class="flex jcC gap30 inherit anc__box">
        <li><a href="#secWhitepaper">ホワイトペーパー</a></li>
        <li><a href="#secProduct">製品・サービス資料</a></li>
        <li><a href="#secCase">導入事例・利用シーン資料</a></li>
      </ul>
    </div>
  </section>

  <section>
		<div class="containers">
      <div class="search">
        <form method="get" action="" class="search__form">
          <input name="s" class="search__input" type="search" placeholder="キーワードから探す">
          <input type="hidden" name="post_type" value="column">
          <button accesskey="f" class="search__btn" type="submit"><img src="/assets/img/common/icon-search.svg"></button>
        </form>
      </div>
			<div class="flex gap10 jcC inherit">
        <a href="#" class="cat bgW">カテゴリ名が入ります。</a>
        <a href="#" class="cat bgW">カテゴリ名が入ります。</a>
        <a href="#" class="cat bgW">カテゴリ名が入ります。</a>
        <a href="#" class="cat bgW">カテゴリ名が入ります。</a>
        <a href="#" class="cat bgW">カテゴリ名が入ります。</a>
      </div>
		</div>
	</section>

  <section class="relation-doc bg-G">
    <div class="containers">
      <h2 class="ttl-secondary">おすすめ資料</h2>
      <div class="flex gap30 card">
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc02.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
      </div>
    </div>
  </section>

  <section id="secWhitepaper" class="relation-doc">
    <div class="containers">
      <h2 class="ttl-secondary">ホワイトペーパー</h2>
      <div class="flex gap30 card">
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc02.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc02.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
      </div>
    </div>
  </section>

  <section id="secProduct" class="relation-doc">
    <div class="containers pt0">
      <h2 class="ttl-secondary">製品・サービス資料</h2>
      <div class="flex gap30 card">
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc02.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc02.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
      </div>
    </div>
  </section>

  <section id="secCase" class="relation-doc">
    <div class="containers pt0">
      <h2 class="ttl-secondary">導入事例・利用シーン資料</h2>
      <div class="flex gap30 card">
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc02.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc02.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
      </div>
    </div>
  </section>

  <div class="contact-block" id="contact-block">
    <h3 class="ttl-secondary"><span>お問い合わせ</span></h3>
    <ul>
      <li class="btn green"><a href="https://support.amnimo.com/hc/ja/requests/new" class="form" target="_blank">お問い合わせ<span class="ib">フォーム</span></a></li>
      <li class="btn green"><a href="/contact/#doc" class="doc">資料ダウンロード<span class="f80">（無料）</span></a></li>
      <li class="btn green"><a href="https://amo.amnimo.com/form/estimate" target="_blank" class="quotation">お見積もり依頼</a></li>
    </ul>
  </div>

</div>
<!--container-->


{% endblock %}