{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<div id="container" class="sng-case">

  <div class="breadcrumb">
    <ul class="breadcrumb-list">
      <li><a href="/">産業用IoTのことならamnimo</a></li>
      <li><a href="/case/">導入事例・利用シーン</a></li>
      <li>AIを活用した人流計測でまち全体の活性化へ</li>
    </ul>
  </div>
  <!-- .breadcrumb -->

  <section class="">
    <div class="containers flex">

      <!-- 投稿記事詳細メイン -->
      <article class="main-conts single">

        <div class="single__cat"><span class="cat">導入事例</span></div>

        <h1 class="single__h1">AIを活用した人流計測でまち全体の活性化へ</h1>

        <div class="single__lead">“設置許可が取りやすく、スピーディーな導入に役立ちました”<br><small>— 高山市　デジタル推進担当監　山田雅彦様 —</small></div>

        <div class="single__img">
          <img src="/assets/img/common/img-case04.jpg" alt="">
        </div>

        <div class="flex">
          <div class="single__cat"><span class="cat">業界</span>　自治体</div>
          <div class="single__cat"><span class="cat">製品</span>　IoTルーター（屋外版）</div>
        </div>

        <div class="single__txt taC">「観光まちづくり」を目的としたAIを活用した人流計測</div>

        <dl class="single__dl">
          <dt>課題</dt>
          <dd>
            <ul>
              <li>設置が屋外、特に河川敷の場合には設置許可の取得に苦労。</li>
              <li>LANケーブルの敷設には敷設許可の取得や工事に時間がかかる。</li>
            </ul>
          </dd>
        </dl>

        <dl class="single__dl">
          <dt>導入の効果</dt>
          <dd>
            <ul>
              <li>設置が屋外、特に河川敷の場合には設置許可の取得に苦労。</li>
              <li>LANケーブルの敷設には敷設許可の取得や工事に時間がかかる。</li>
              <li>直射日光や寒冷地への対策もされている屋外専用機で安心。</li>
            </ul>
          </dd>
        </dl>

        <h2 class="single__h2">概要：AI顔認識システムによる観光客の動向分析でまち全体の活性化へ</h2>

        <div class="single__txt">
          <p>岐阜県北部に位置する高山市は観光都市としても有名です。飛騨山脈や白川郷などの観光地への玄関口となるほか、市内中心部にも江戸時代以来の伝統的な町並があり、国内外から多くの観光客が訪れています。</p>
        </div>

        <div class="single__img">
          <img src="/assets/img/common/img-case05.jpg" alt="">
        </div>

        <div class="single__txt">
          <p>そんな高山市では現在、人流計測にカメラやAIを活用することで、観光施策の効果検証や改善活動に力を入れています。現在、高山市が着目しているのは、観光客の方々にいかに回遊性をもって様々な場所を訪れてもらい、まち全体の活性化につなげられるか、という観点です。「古い町並」が最も有名な観光地のひとつですが、その他の魅力的な観光地や商店街にも、より多くの観光客を呼び込むことでまち全体の賑わいにつなげていきたいと考えています。</p>
          <p>そのためには、そもそもどの場所にどれくらいの人数が訪れているのか、人が多い時間帯や時期、さらには性別や年代などの属性情報も知ることが重要です。このような情報を収集することで初めて、様々な施策により人を呼び込むことができているのか、さらに改善していくためにはどのような施策が有効かを検討できます。
          </p>
          <p>人流の計測については、元々年に１回、商店街の5箇所において、人が目視計測する形で通行量を測っていました。しかし、１年のうちわずか２日間、かつ10時から17時（昼の１時間をのぞく）の限られた時間のデータであり、比較・分析には十分とはいえなかったため、人流計測としてカメラやAIの活用も進めることとしました。これまでに、市内の５箇所に人流計測・属性分析のためのカメラを設置し、通行量と人物の属性などをAIが判断しています。</p>
        </div>

        <h2 class="single__h2">アムニモ製品の役割：屋外での人流計測においてカメラ映像と分析データを送信</h2>

        <h3 class="single__h3">新しい橋の人流計測に利用</h3>

        <div class="single__txt">
          <p>今回、アムニモのIoTルーターが設置されたのは、飛騨高山宮川朝市という屋外の市場です。朝市は、午前中に野菜や果物、漬物、土産品などを販売する市場で、高山市の観光名所の１つとなっています。</p>
        </div>

        <div class="single__img">
          <img src="/assets/img/common/img-case06.jpg" alt="">
        </div>

      </article>

      <!-- サイドメニュー -->
      <aside class="side-nav">

        <div class="catSearch">
          <h3 class="ttl-tertiary">カテゴリで探す</h3>
          <ul class="catSearch__list">
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
          </ul>
        </div>

        <a href="/contact/" class="bnr-contact"><img src="/assets/img/common/bnr-contact.png" alt=""></a>

        <a href="/catalog/" class="bnr-catalog"><img src="/assets/img/common/bnr-catalog.png" alt=""></a>

      </aside>
      
    </div>
  </section>

  <section class="relation-doc">
    <div class="containers">
      <h2 class="ttl-secondary">関連資料</h2>
      <div class="flex card">
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc02.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
      </div>
    </div>
  </section>

  <section class="relation-column">
    <div class="containers">
      <h2 class="ttl-secondary">関連する利用シーン・導入事例</h2>
      <div class="flex card">
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-case01.jpg" alt=""></figure>
          <h3 class="card__box--ttl"><div>監視カメラ・防犯カメラシステム</div></h3>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-case02.jpg" alt=""></figure>
          <h3 class="card__box--ttl"><div>地域BWAでの利用シーン</div></h3>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-case03.jpg" alt=""></figure>
          <h3 class="card__box--ttl"><div>屋外設置の防犯カメラ・監視カメラ運用</div></h3>
        </a>
      </div>
    </div>
  </section>

  <div class="contact-block" id="contact-block">
    <h3 class="ttl-secondary"><span>お問い合わせ</span></h3>
    <ul>
      <li class="btn green"><a href="https://support.amnimo.com/hc/ja/requests/new" class="form" target="_blank">お問い合わせ<span class="ib">フォーム</span></a></li>
      <li class="btn green"><a href="/contact/#doc" class="doc">資料ダウンロード<span class="f80">（無料）</span></a></li>
      <li class="btn green"><a href="https://amo.amnimo.com/form/estimate" target="_blank" class="quotation">お見積もり依頼</a></li>
    </ul>
  </div>

</div>
<!--container-->

{% endblock %}