{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}


<div id="container" class="tax-whitepaper">

  <div class="breadcrumb">
    <ul class="breadcrumb-list">
      <li><a href="/">産業用IoTのことならamnimo</a></li>
      <li>お役立ち資料カテゴリ名が入ります。</li>
    </ul>
  </div>
  <!-- .breadcrumb -->

  <section class="relation-doc">
    <div class="containers">
      <h2 class="ttl-secondary">カテゴリ名が入ります。</h2>
      <div class="relation-doc__lead">カテゴリ説明文が入ります。カテゴリ説明文が入ります。カテゴリ説明文が入ります。</div>
      <div class="flex gap30 card">
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc02.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc02.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
        <a href="#" class="card__box">
          <figure class="card__box--img"><img src="/assets/img/common/img-doc01.jpg" alt=""></figure>
          <div class="card__box--cat"><span class="cat">カテゴリ名</span></div>
          <h3 class="card__box--ttl">資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。資料タイトルが入ります。</h3>
          <div class="more small">ダウンロード</div>
        </a>
      </div>

      <nav class="pagination">
        <div class="nav-links">
          <a class="prev page-numbers" href="#"><span></span></a>
          <a class="page-numbers" href="#">1</a>
          <span class="page-numbers current">2</span>
          <a class="page-numbers" href="#">3</a>
          <a class="page-numbers" href="#">4</a>
          <a class="page-numbers" href="#">5</a>
          <a class="next page-numbers" href="#"><span></span></a>
        </div>
      </nav>

    </div>
  </section>


  <div class="contact-block" id="contact-block">
    <h3 class="ttl-secondary"><span>お問い合わせ</span></h3>
    <ul>
      <li class="btn green"><a href="https://support.amnimo.com/hc/ja/requests/new" class="form" target="_blank">お問い合わせ<span class="ib">フォーム</span></a></li>
      <li class="btn green"><a href="/contact/#doc" class="doc">資料ダウンロード<span class="f80">（無料）</span></a></li>
      <li class="btn green"><a href="https://amo.amnimo.com/form/estimate" target="_blank" class="quotation">お見積もり依頼</a></li>
    </ul>
  </div>

</div>
<!--container-->


{% endblock %}