{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<div id="container" class="tax-column">

  <div class="breadcrumb">
    <ul class="breadcrumb-list">
      <li><a href="/">産業用IoTのことならamnimo</a></li>
      <li><a href="/column/">コラム</a></li>
      <li>カテゴリ名が入ります。</li>
    </ul>
  </div>
  <!-- .breadcrumb -->

  <section class="">
    <div class="containers flex">

      <!-- タクソノミー -->
      <section class="main-conts article">

        <h1 class="article__ttl"><span>○○○○（カテゴリ名）</span>に関するコラム</h1>

        <h2 class="article__lead"><span>○○○○（カテゴリ名）</span>に関する記事をお届けしています。</h2>

        <div class="article__wrap">

          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img05.jpg" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">導入する方必見。4Gゲートウェイの「4G」とは一体どんなもの？</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
            </summary>
          </a>
          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img05.jpg" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">導入する方必見。4Gゲートウェイの「4G」とは一体どんなもの？</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
            </summary>
          </a>
          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img05.jpg" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">導入する方必見。4Gゲートウェイの「4G」とは一体どんなもの？</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
            </summary>
          </a>
          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img05.jpg" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">導入する方必見。4Gゲートウェイの「4G」とは一体どんなもの？</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
            </summary>
          </a>
          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img05.jpg" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">導入する方必見。4Gゲートウェイの「4G」とは一体どんなもの？</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
            </summary>
          </a>
          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img05.jpg" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">導入する方必見。4Gゲートウェイの「4G」とは一体どんなもの？</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
            </summary>
          </a>
          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img05.jpg" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">導入する方必見。4Gゲートウェイの「4G」とは一体どんなもの？</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
            </summary>
          </a>
          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img05.jpg" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">導入する方必見。4Gゲートウェイの「4G」とは一体どんなもの？</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
            </summary>
          </a>
          <a href="#" class="flex item">
            <figure class="item__img"><img src="/assets/img/common/img05.jpg" alt=""></figure>
            <summary class="item__box">
              <h2 class="item__box--ttl">導入する方必見。4Gゲートウェイの「4G」とは一体どんなもの？</h2>
              <div class="flex fS aiC gap10 item__box--row">
                <span class="time">2021.3.8</span>
                <span class="cat">カテゴリ名</span>
                <span class="cat">カテゴリ名</span>
              </div>
            </summary>
          </a>

        </div>

        <nav class="pagination">
          <div class="nav-links">
            <a class="prev page-numbers" href="#"><span></span></a>
            <a class="page-numbers" href="#">1</a>
            <span class="page-numbers current">2</span>
            <a class="page-numbers" href="#">3</a>
            <a class="page-numbers" href="#">4</a>
            <a class="page-numbers" href="#">5</a>
            <a class="next page-numbers" href="#"><span></span></a>
          </div>
        </nav>

      </section>

      <!-- サイドメニュー -->
      <aside class="side-nav">

        <div class="search">
          <form action="" class="search__form">
            <input class="search__input" type="search" placeholder="キーワードから探す">
            <button class="search__btn" type="submit"><img src="/assets/img/common/icon-search.svg"></button>
          </form>
        </div>

        <div class="catSearch">
          <h3 class="ttl-tertiary">カテゴリで探す</h3>
          <ul class="catSearch__list">
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
            <li><a href="#">カテゴリ名が入ります</a></li>
          </ul>
        </div>

        <div class="blogList">
          <h3 class="ttl-tertiary">よく読まれている記事</h3>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog02.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog03.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog04.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
          <a href="#" class="flex aiC inherit item">
            <div class="item__img"><img src="/assets/img/common/img-blog01.jpg" alt=""></div>
            <div class="item__ttl">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</div>
          </a>
        </div>

        <a href="/contact/" class="bnr-contact"><img src="/assets/img/common/bnr-contact.png" alt=""></a>

        <a href="/catalog/" class="bnr-catalog"><img src="/assets/img/common/bnr-catalog.png" alt=""></a>

      </aside>
      
    </div>
  </section>
  
  <div class="contact-block" id="contact-block">
    <h3 class="ttl-secondary"><span>お問い合わせ</span></h3>
    <ul>
      <li class="btn green"><a href="https://support.amnimo.com/hc/ja/requests/new" class="form" target="_blank">お問い合わせ<span class="ib">フォーム</span></a></li>
      <li class="btn green"><a href="/contact/#doc" class="doc">資料ダウンロード<span class="f80">（無料）</span></a></li>
      <li class="btn green"><a href="https://amo.amnimo.com/form/estimate" target="_blank" class="quotation">お見積もり依頼</a></li>
    </ul>
  </div>

</div>
<!--container-->

{% endblock %}