{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "映像ソリューション（セキュリティ）" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}


<div id="container" class="video-solution--security">

  <div class="breadcrumb">
    <ul class="breadcrumb-list">
      <li><a href="/">産業用IoTのことならamnimo</a></li>
      <li>映像ソリューション（セキュリティ）</li> 
    </ul>
  </div>
  <!-- .breadcrumb -->

  <section class="hero02 video-solution--security__hero">
    <div class="containers">
      <div class="hero02__box">
        <div class="hero02__box--sub">録画映像をいつでも・どこからでも確認<br>堅牢でコストメリットの高い統合管理システム</div>
        <h2 class="ttl-primary">監視カメラ運用を円滑化する<br>映像ソリューション</h2>
        <a href="https://support.amnimo.com/hc/ja/requests/new" target="_blank" class="more">ご相談・お問い合わせ</a>
      </div>
    </div>
  </section>

  <section class="video-solution--security__overview">
    <div class="containers">
      <h2 class="ttl-secondary">現場が求める<br class="sp-only">監視カメラソリューション</h2>
      <div class="lead">24時間、365日。<br class="sp-only">止まることがない遠隔監視を実現。</div>
        <ul class="flex gap20 card">
          <li class="card__wrap">
            <h3 class="card__wrap--ttl">インフラの監視</h3>
            <summary class="card__box">
              <figure class="card__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security01.png" alt=""></figure>
            </summary>
          </li>
          <li class="card__wrap">
            <h3 class="card__wrap--ttl">重要施設・設備の監視</h3>
            <summary class="card__box">
              <figure class="card__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security02.png" alt=""></figure>
            </summary>
          </li>
          <li class="card__wrap">
            <h3 class="card__wrap--ttl">生産現場の監視</h3>
            <summary class="card__box">
              <figure class="card__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security03.png" alt=""></figure>
            </summary>
          </li>
          <li class="card__wrap">
            <h3 class="card__wrap--ttl">僻地の監視</h3>
            <summary class="card__box">
              <figure class="card__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security04.png" alt=""></figure>
            </summary>
          </li>
        </ul>
      </div>
    </section>
  </section>
  
  <section class="video-solution--security__problem">
    <div class="containers">
      <h2 class="ttl-secondary">従来の監視カメラ<br class="sp-only">ソリューションの課題</h2>
      <ul class="flex gap20 card">
        <li class="card__wrap">
          <a href="#solution01">
            <h3 class="card__wrap--ttl">課題①</h3>
            <summary class="card__box">
              <figure class="card__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security05.png" alt=""></figure>
              <p class="card__box--txt">事故や事件発生時に即時に状況確認ができていない</p>
            </summary>
          </a>
        </li>
        <li class="card__wrap">
          <a href="#solution02">
            <h3 class="card__wrap--ttl">課題②</h3>
            <summary class="card__box">
              <figure class="card__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security06.png" alt=""></figure>
              <p class="card__box--txt">従来の防犯カメラシステムは初期費用も運用コストも高い</p>
            </summary>
          </a>
        </li>
        <li class="card__wrap">
          <a href="#solution03">
            <h3 class="card__wrap--ttl">課題③</h3>
            <summary class="card__box">
              <figure class="card__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security07.png" alt=""></figure>
              <p class="card__box--txt">映像確認や取得が必要になる度に現地に出向き、データを抜き出さねばならない</p>
            </summary>
          </a>
        </li>
    </div>
  </section>

  <section class="video-solution--security__solution">
    <div class="containers">
      <h2 class="ttl-secondary">アムニモの<br class="sp-only">映像ソリューションが<br class="sp-only">解決します</h2>

      <div class="inner" id="solution01">
        <div class="item">
          <h3 class="ttl-tertiary">柔軟で即時性の高い映像管理で安心・安全を提供</h3>
          <div class="item__box item__box--old">
            <h4 class="item__box--ttl">従来のソリューション</h4>
            <div class="flex item__box--body">
              <figure class="item__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security08.png" alt=""></figure>
              <ul class="check-list check-list--old">
                <li>映像は、事件事故後の原因究明や調査に使われるのみ</li>
                <li>映像データがバラバラに管理されており、統合管理できていない</li>
                <li>事案発生時の情報共有に時間がかかる</li>
              </ul>
            </div>
          </div>
  
          <div class="item__box item__box--new">
            <h4 class="item__box--ttl"><img src="/assets/img/pages/video-solution-security/amnimo-white-logo.png" alt="amnimo TM ロゴ"> のソリューション</h4>
            <div class="flex item__box--body">
              <figure class="item__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security09.png" alt=""></figure>
              <ul class="check-list check-list--new">
                <li>カメラのモーション検知機能や各種センサーとの連携で必要な映像データのみを確認可能</li>
                <li>アラーム発生時に、関係各所へのEメールでの通報や自動画像送信が可能</li>
                <li>事件事故の際、素早い対応が可能</li>
              </ul>
            </div>
            <div class="flex item__box--foot">
              <h5 class="item__box--sub-ttl"><span>導入効果</span></h5>
              <ul>
                <li>複数拠点の統合監視でスムーズな情報共有</li>
                <li>中央の拠点でも複数拠点の情報を簡単に閲覧可能</li>
                <li>事件事故が起きた際も、中央や他拠点との連携が可能で、迅速な対応が可能</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="inner" id="solution02">
        <div class="item">
          <h3 class="ttl-tertiary">防犯カメラの初期コストと<br class="sp-only">運用コストを削減</h3>
          <div class="item__box item__box--old">
            <h4 class="item__box--ttl">従来のソリューション</h4>
            <div class="flex item__box--body">
              <figure class="item__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security10.png" alt=""></figure>
              <ul class="check-list check-list--old">
                <li>ネットワークを活用した防犯カメラシステムは様々な装置を組み合わせる必要がある</li>
                <li>ネットワーク環境を整えるため、有線の光回線敷設工事に大きなコストがかかる</li>
                <li>録画映像は現地にデータを取りに行く必要があり「見えない維持・運用コスト」が発生している</li>
                <li>映像のデータ量が膨大なため、全データをモバイル回線で送信していると通信費用・クラウド利用料が高額になる</li>
              </ul>
            </div>
          </div>
          <div class="item__box item__box--new">
            <h4 class="item__box--ttl"><img src="/assets/img/pages/video-solution-security/amnimo-white-logo.png" alt="amnimo TM ロゴ"> のソリューション</h4>
            <div class="flex item__box--body">
              <figure class="item__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security11.png" alt=""></figure>
              <ul class="check-list check-list--new">
                <li>防犯カメラシステムに特化したオールインワンの専用装置で安定運用</li>
                <li>モバイル回線の活用により無線化を実現し、光回線敷設工事費用を大幅削減</li>
                <li>現地に赴くことなく録画映像データを遠隔から取得することが可能</li>
                <li>「必要なデータだけ」を送ることで通信費・クラウド利用料を削減</li>
              </ul>
            </div>
            <div class="flex item__box--foot">
              <h5 class="item__box--sub-ttl"><span>導入効果</span></h5>
              <ul>
                <li>現地に赴くことなく録画映像データを遠隔から取得することが可能</li>
                <li>外部機関への映像を提出する頻度が増加しても素早く共有</li>
                <li>映像データを、顧客サービスの向上に活用できる</li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="inner" id="solution03">
        <div class="item">
          <h3 class="ttl-tertiary">メンテナンスの手間と<br class="sp-only">コストを低減</h3>
          <div class="item__box item__box--old">
            <h4 class="item__box--ttl">従来のソリューション</h4>
            <div class="flex item__box--body">
              <figure class="item__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security12.png" alt=""></figure>
              <ul class="check-list check-list--old">
                <li>カメラ映像が映らなくなる度、現地でメンテナンスが必要</li>
                <li>カメラの電源をOFF/ONで復旧する可能性があるが現地に赴く必要がある</li>
                <li>カメラの停止やSDカードなど記録媒体の破損といった不具合に気づかないことがある</li>
              </ul>
            </div>
          </div>
          <div class="item__box item__box--new">
            <h4 class="item__box--ttl"><img src="/assets/img/pages/video-solution-security/amnimo-white-logo.png" alt="amnimo TM ロゴ"> のソリューション</h4>
            <div class="flex item__box--body">
              <figure class="item__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security13.png" alt=""></figure>
              <ul class="check-list check-list--new">
                <li>自動復旧機能：録画の停止をシステムで検知し、自動でカメラの電源OFF/ONを実行</li>
                <li>遠隔リブート：カメラの調子が悪いときは、遠隔から手動で電源OFF/ONも実行可能</li>
                <li>現地に赴くことなく録画映像データを遠隔から取得することが可能</li>
                <li>カメラ停止お知らせ機能：自動復旧でもカメラが復旧しない場合は管理者に通知</li>
              </ul>
            </div>
            <div class="flex item__box--foot">
              <h5 class="item__box--sub-ttl"><span>導入効果</span></h5>
              <ul>
                <li>自動で復旧するため、カメラ復旧のための修理回数を低減可能</li>
                <li>遠隔からの電源OFF/ONで故障時の現地訪問最小化し、修理コストを最小化</li>
                <li>カメラ停止時には通知が来るため、定期点検の手間も軽減</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="video-solution--security__dl-doc material">
    <div class="containers">
      <h2 class="ttl-secondary ttl-secondary--video-solution__dl-doc cW">サービス資料</h2>
      <div class="flex jcC desc">
        <figure class="desc__img"><img src="/assets/img/pages/video-solution-security/img-solution-service-doc.png" alt=""></figure>
        <summary class="desc__box">
          <div class="desc__box--ttl">アムニモの映像ソリューション（セキュリティ）の<br class="pc-only">詳細な情報はこちらの資料をご覧ください。</div>
          <a href="/form/eVMSflyerdownload" target="_blank" class="more">資料ダウンロード<span class="f80">(無料)</span></a>
        </summary>
      </div>
    </div>
  </section>

  <section class="video-solution--security__feature">
    <div class="containers">
      <h2 class="ttl-secondary">アムニモの<br class="sp-only">映像ソリューションの<br class="sp-only">特長</h2>
      <ul class="flex gap20 card">
        <li class="card__wrap">
          <h3 class="card__wrap--ttl">特長①<br>IoTとクラウドを活用した映像管理<br>システムで業務効率を向上</h3>
          <summary class="card__box">
            <figure class="card__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security14.png" alt=""></figure>
            <ul class="check-list">
              <li>現地カメラに接続されたエッジIoTデバイスのSSDでの映像の保存に加え、クラウドシステムと連携し、映像をいつでも・どこからでも一元管理できるハイブリッドなシステム</li>
              <li>各地に分散する録画映像を一元管理し、業務効率を大幅に向上。映像データの利活用を促進</li>
            </ul>
          </summary>
        </li>
        <li class="card__wrap">
          <h3 class="card__wrap--ttl">特長②<br>モバイル回線（無線）活用による、<br>回線施設の工事不要</h3>
          <summary class="card__box">
            <figure class="card__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security15.png" alt=""></figure>
            <ul class="check-list">
              <li>現地カメラとインターネットの接続は、工事が必要な光回線ではなく、高速携帯電話網（LTE回線）を活用</li>
              <li>回線敷設工事不要で通信が可能</li>
            </ul>
          </summary>
        </li>
        <li class="card__wrap">
          <h3 class="card__wrap--ttl">特長③<br>高セキュリティの実現</h3>
          <summary class="card__box">
            <figure class="card__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security16.png" alt=""></figure>
            <ul class="check-list">
              <li>モバイル回線は大手キャリアをはじめとする高セキュリティで高速通信可能な携帯電話網を利用</li>
              <li>エッジゲートウェイ⇔クラウド間のカメラ映像の伝送は暗号化</li>
              <li>クラウドの利用はID、パスワードによる保護及び権限設定により操作制限が可能</li>
            </ul>
          </summary>
        </li>
      </ul>
      <div class="lead">アムニモの映像ソリューションは<br class="sp-only">各社のIPカメラに対応<br>お客様ご要望に合わせ最適な<br class="sp-only">カメラをご提案します</div>
      <div class="item">
        <div class="item__box">
          <figure class="item__box--img">
            <figure class="card__box--img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security17.png" alt=""></figure>
          </figure>
          <div class="item__table">
            <span class="item__table--header">ドーム型カメラ</span>
            <span class="item__table--body">威圧感を与えづらく空間に溶け込みやすい上に、死角となる場所にも設置可能</span>
          </div>
          <div class="item__table">
            <span class="item__table--header">PTZカメラ</span>
            <span class="item__table--body">パン(P)、チルト(T)、ズーム(Z)機能があり、1台で広範囲を細かく監視可能</span>
          </div>
          <div class="item__table">
            <span class="item__table--header">全方位カメラ</span>
            <span class="item__table--body">1台で360°を撮影できるため、複数台設置な場所でも1台で1度に撮影が可能</span>
          </div>
          <div class="item__table">
            <span class="item__table--header">サーマルカメラ</span>
            <span class="item__table--body">温度計では計測の難しい広範囲の温度計測を行い、温度変化をリアルタイムで確認可能</span>
          </div>
          <div class="item__table">
            <span class="item__table--header">AIカメラ</span>
            <span class="item__table--body">AIを活用した画像認識で、顔認識や物体検知をはじめ様々な映像の活用が可能</span>
          </div>
          <div class="item__table">
            <span class="item__table--header">4Kカメラ</span>
            <span class="item__table--body">高精細な映像を撮影することで、防犯をはじめ様々な用途での映像活用の精度が向上</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="video-solution--security__case-study group">
    <div class="containers">
      <h2 class="ttl-secondary">アムニモの<br class="sp-only">映像ソリューションの<br>導入事例・利用シーン</h2>
      <div class="lead">アムニモはIoT・クラウド・AIの技術で、高い堅牢性が求められる社会インフラの<br>映像の利活用によるDX推進を支援します</div>
      <ul class="flex gap30 group">
        <li class="card">
          <a href="/case/001/">
            <figure class="card__img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security18.png" alt=""></figure>
            <summary class="card__box">
              <h3 class="card__box--ttl">監視カメラシステム</h3>
              <p class="card__box--txt">24時間、365日。簡単には止まらない、止まってもすぐに復旧する監視カメラシステムを構築できます。</p>
            </summary>
          </a>
        </li>
        <li class="card">
          <a href="/case/002/">
            <figure class="card__img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security19.png" alt=""></figure>
            <summary class="card__box">
              <h3 class="card__box--ttl">鉄道沿線のカメラ監視</h3>
              <p class="card__box--txt">踏切や駅、車庫、分岐器、トンネルの出入り口等の映像データを一括で監視します。</p>
            </summary>
          </a>
        </li>
        <li class="card">
          <a href="/case/006/">
            <figure class="card__img"><img src="/assets/img/pages/video-solution-security/img-video-solution-security20.png" alt=""></figure>
            <summary class="card__box">
              <h3 class="card__box--ttl">屋外設置の<br class="sp-only">防犯カメラ・監視カメラ</h3>
              <p class="card__box--txt">屋外設置の監視カメラの効率的な運用を実現します。</p>
            </summary>
          </a>
        </li>
      </ul>
      <a href="#" class="more">利用シーン資料ダウンロード<span class="f80">(無料)</span></a>
    </div>
  </section>

  <section class="video-solution--security__movie">
    <div class="containers">
      <h2 class="ttl-secondary">統合ビデオ管理システム説明動画（7分28秒）</h2>
      <div class="lead">動画右下の「全画面」をクリックすると、動画を拡大して再生することができます。</div>
      <div class="item">
        <iframe src="https://www.youtube.com/embed/LaKRDLJvS5M?rel=0" allowfullscreen=""></iframe>
      </div>
    </div>
  </section>

  <section class="video-solution--security__dl-doc material">
    <div class="containers">
      <h2 class="ttl-secondary ttl-secondary--video-solution__dl-doc cW">サービス資料</h2>
      <div class="flex jcC desc">
        <figure class="desc__img"><img src="/assets/img/pages/video-solution-security/img-solution-service-doc.png" alt=""></figure>
        <summary class="desc__box">
          <div class="desc__box--ttl">アムニモの映像ソリューション（セキュリティ）の<br class="pc-only">詳細な情報はこちらの資料をご覧ください。</div>
          <a href="/form/eVMSflyerdownload" target="_blank" class="more">資料ダウンロード<span class="f80">(無料)</span></a>
        </summary>
      </div>
    </div>
  </section>

  <section class="contact-block">
    <h2 class="block-title"><span>お問い合わせ</span></h2>
    <ul>
      <li class="btn green"><a href="https://support.amnimo.com/hc/ja/requests/new" target="_blank" class="form">お問い合わせ<span class="ib">フォーム</span></a></li>
      <li class="btn green"><a href="https://amo.amnimo.com/form/eVMSflyerdownload" target="_blank" class="doc">資料ダウンロード<span class="f80">（無料）</span></a></li>
      <li class="btn green"><a href="https://amo.amnimo.com/form/estimate" target="_blank" class="quotation">お見積もり依頼</a></li>
    </ul>
  </section>
</div>
<!--container-->


{% endblock %}